Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Fix typo.
  main/models/textindex.py
  sa/migrations/0214_managedobjectselector_filter_labels.py
Due: flake8, black, mypy, pylint

Fix collection.
  collections/inv.objectmodels/NoName/Transceiver/10G/SFP+SR.json
Due: prettier

Statically dispatched collectors
  rust/agent/Cargo.toml
  rust/agent/src/agent.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/registry.rs
Due: build:rust

Collector stubs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns/mod.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/test/mod.rs
  rust/agent/src/collectors/twamp_reflector/mod.rs
  rust/agent/src/collectors/twamp_sender/mod.rs
Due: build:rust

Add datastream tags aliases.
  core/etl/bi/extractor/managedobject.py
  sa/models/managedobject.py
  services/datastream/streams/administrativedomain.py
  services/datastream/streams/managedobject.py
  services/web/apps/fm/alarm/views.py
  services/web/apps/fm/event/views.py
  services/web/apps/sa/managedobjectselector/views.py
  ui/web/sa/managedobjectselector/ObjectsModel.js
  ui/web/sa/managedobjectselector/ObjectsPanel.js
Due: flake8, black, mypy, prettier, pylint, build:web

Migrate CRM, KB, DNS, GIS models from tags to labels.
  crm/migrations/0003_labels.py
  crm/models/subscriber.py
  crm/models/subscriberprofile.py
  crm/models/supplier.py
  crm/models/supplierprofile.py
  dns/migrations/0042_labels.py
  dns/models/dnszone.py
  dns/models/dnszonerecord.py
  gis/migrations/0006_labels.py
  gis/models/division.py
  kb/migrations/0010_labels.py
  kb/models/kbentry.py
  main/models/label.py
  ui/web/crm/subscriber/Application.js
  ui/web/crm/subscriber/Model.js
  ui/web/crm/subscriberprofile/Application.js
  ui/web/crm/subscriberprofile/Model.js
  ui/web/crm/supplier/Application.js
  ui/web/crm/supplier/Model.js
  ui/web/crm/supplierprofile/Application.js
  ui/web/crm/supplierprofile/Model.js
  ui/web/dns/dnszone/Application.js
  ui/web/dns/dnszone/Model.js
  ui/web/kb/kbentry/Application.js
  ui/web/kb/kbentry/Model.js
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  crm/migrations/0003_labels.py
  kb/migrations/0010_labels.py
Due: flake8, black, mypy, pylint

Fix DNS Zone record.
  core/csvutils.py
  dns/migrations/0042_labels.py
  dns/models/dnszonerecord.py
  main/models/label.py
  ui/web/dns/dnszone/RecordsModel.js
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix migrations.
  crm/migrations/0003_labels.py
  gis/migrations/0006_labels.py
  sa/migrations/0213_labels.py
Due: flake8, black, mypy, pylint

Fix
  rust/agent/Cargo.toml
Due: build:rust

FastAPIService: ctl endpoint
  core/service/paths/ctl.py
Due: flake8, black, mypy, pylint

Fix
  core/service/paths/ctl.py
Due: flake8, black, mypy, pylint

Convert OID Rules to labels.
  core/script/oidrules/capindex.py
  core/script/oidrules/caplist.py
  core/script/oidrules/ifindex.py
  core/script/oidrules/oid.py
  sa/profiles/Alcatel/AOS/oidrules/slot.py
  sa/profiles/Alcatel/TIMOS/get_metrics.py
  sa/profiles/Cisco/IOS/get_metrics.py
  sa/profiles/ElectronR/KO01M/get_metrics.py
  sa/profiles/Extreme/XOS/snmp_metrics/environment_temperature.json
  sa/profiles/Huawei/MA5600T/get_metrics.py
  sa/profiles/Huawei/MA5600T/oidrules/hw_slots.py
  sa/profiles/Huawei/VRP/snmp_metrics/cpu_usage.json
  sa/profiles/Huawei/VRP/snmp_metrics/environment_temperature.json
  sa/profiles/Huawei/VRP/snmp_metrics/memory_usage.json
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOS/snmp_metrics/environment_temperature.json
  sa/profiles/Juniper/JUNOSe/get_metrics.py
  sa/profiles/Juniper/JUNOSe/snmp_metrics/environment_temperature.json
  sa/profiles/OneAccess/TDRE/get_metrics.py
  sa/profiles/Planar/SDO3000/snmp_metrics/environment_temperature.json
  sa/profiles/Planar/SDO3000/snmp_metrics/environment_voltage.json
  sa/profiles/Planar/SDO3000/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Planar/SDO3000/snmp_metrics/interface_rf_txpower.json
  sa/profiles/Qtech/BFC_PBIC_S/get_metrics.py
  sa/profiles/Qtech/QFC/get_metrics.py
  sa/profiles/Rotek/BT/get_metrics.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  sa/profiles/Ttronics/KUB/get_metrics.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, prettier, pylint

metrics: Use labels
  sa/interfaces/igetmetrics.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

Fix typo
  core/service/paths/ctl.py
Due: flake8, black, mypy, pylint

Fix typo2
  core/service/paths/ctl.py
Due: flake8, black, mypy, pylint

Add Peer migrations.
  main/models/label.py
  peer/migrations/0043_labels.py
  peer/models/asn.py
  peer/models/asset.py
  peer/models/peer.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  ui/web/peer/as/Model.js
  ui/web/peer/asset/Application.js
  ui/web/peer/asset/Model.js
  ui/web/peer/peer/Application.js
  ui/web/peer/peer/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  peer/models/asn.py
  peer/models/asset.py
  peer/models/peer.py
  services/web/apps/fm/reportalarmdetail/views.py
  services/web/apps/inv/reportlinkdetail/views.py
  services/web/apps/sa/reportobjectsummary/views.py
Due: flake8, black, mypy, pylint

Fix IPAM.
  core/confdb/applicator/meta.py
  core/confdb/syntax/meta/base.py
  core/etl/loader/container.py
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
  ui/web/ip/ipam/view/forms/prefix/PrefixPanel.js
  ui/web/ip/ipam/view/forms/vrf/VRF.js
Due: flake8, black, mypy, prettier, pylint, build:web

navigate by class name fixed
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressListsController.js
Due: prettier, build:web

Fix ManagedObject Selector labels show.
  ui/web/core/LabelField.js
Due: prettier, build:web

Fix empty labels.
  main/models/label.py
Due: flake8, black, mypy, pylint

Fix path processing
  pm/models/metricscope.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

Fix
  pm/models/metricscope.py
Due: flake8, black, mypy, pylint

Fix open umbrella.
  commands/discovery.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

Rename port to interface.
  collections/pm.metricscopes/Interface.json
  collections/pm.metricscopes/Memory.json
  sa/profiles/Alcatel/TIMOS/get_metrics.py
  sa/profiles/Alstec/24xx/get_metrics.py
  sa/profiles/DCN/DCWL/get_metrics.py
  sa/profiles/EdgeCore/ES/get_metrics.py
  sa/profiles/Eltex/WOP/get_metrics.py
  sa/profiles/Huawei/VRP/get_lldp_neighbors.py
  sa/profiles/Huawei/VRP/profile.py
  sa/profiles/IRE-Polus/Taros/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Intracom/UltraLink/snmp_metrics/radio_cinr.json
  sa/profiles/Intracom/UltraLink/snmp_metrics/radio_rssi.json
  sa/profiles/Juniper/JUNOS/get_metrics.py
  sa/profiles/Juniper/JUNOSe/get_metrics.py
  sa/profiles/Planar/SDO3000/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Planar/SDO3000/snmp_metrics/interface_rf_txpower.json
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  sa/profiles/Vector/Lambda/snmp_metrics/interface_dom_rxpower.json
  sa/profiles/Vector/Lambda/snmp_metrics/interface_rf_txpower.json
Due: flake8, black, mypy, prettier, pylint

Fix black.
  sa/profiles/Huawei/VRP/get_lldp_neighbors.py
  sa/profiles/Huawei/VRP/profile.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
Due: flake8, black, mypy, pylint

Fix pm utils function.
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Subscriber.json
  core/pm/utils.py
Due: flake8, black, mypy, prettier, pylint

Revert "fix comments"
  lib/app/extapplication.py
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

RNR Fast API
  lib/app/extapplication.py
  lib/app/extdocapplication.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

remove affected objects if maintenance completed
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

Fix revert2
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Remove unused exclude_fields param
  lib/app/extapplication.py
  lib/app/extdocapplication.py
  ui/web/maintenance/maintenance/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

fast alarm card
  services/card/cards/alarm.py
Due: flake8, black, mypy, pylint

Fix typo
  maintenance/migrations/0003_affected_objects_migrate.py
  maintenance/models/maintenance.py
  services/card/cards/maintenance.py
  services/escalator/maintenance.py
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint

fix flake8 and black
  services/card/cards/alarm.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
