Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Fix
  services/web/apps/inv/sensorprofile/views.py
Due: flake8, black, mypy, pylint

Fix black.
  inv/models/sensor.py
Due: flake8, black, mypy, pylint

Clean up documentation
  docs/en/docs/user/reference/concepts/sensor-profile/index.md
  docs/en/docs/user/reference/concepts/sensor/index.md
  docs/en/docs/user/reference/measurement-units/ampere.md
  docs/en/docs/user/reference/measurement-units/celsius.md
  docs/en/docs/user/reference/measurement-units/hertz.md
  docs/en/docs/user/reference/measurement-units/index.md
  docs/en/docs/user/reference/measurement-units/meter.md
  docs/en/docs/user/reference/measurement-units/rpm.md
  docs/en/docs/user/reference/measurement-units/second.md
  docs/en/docs/user/reference/measurement-units/volt-ac.md
  docs/en/docs/user/reference/measurement-units/volt-dc.md
  docs/en/docs/user/reference/measurement-units/watt.md
  docs/en/docs/user/reference/measurementunits/ampere.md
  docs/en/docs/user/reference/measurementunits/celsius.md
  docs/en/docs/user/reference/measurementunits/hertz.md
  docs/en/docs/user/reference/measurementunits/index.md
  docs/en/docs/user/reference/measurementunits/meter.md
  docs/en/docs/user/reference/measurementunits/rpm.md
  docs/en/docs/user/reference/measurementunits/second.md
  docs/en/docs/user/reference/measurementunits/volt-ac.md
  docs/en/docs/user/reference/measurementunits/volt-dc.md
  docs/en/docs/user/reference/measurementunits/watt.md
  docs/en/mkdocs.yml
  docs/tools/collection-to-md.py
Due: flake8, black, mypy, prettier, pylint

Fix tests.
  tests/docs/test_profile.py
Due: flake8, black, mypy, pylint

Fix black.
  tests/docs/test_profile.py
Due: flake8, black, mypy, pylint

inventory `find_path` function
  core/inv/__init__.py
  core/inv/path.py
Due: flake8, black, mypy, pylint

Fix typo.
  core/inv/path.py
Due: flake8, black, mypy, pylint

Fix
  core/inv/path.py
Due: flake8, black, mypy, pylint

Classifier: Speedup MIB lookup
  fm/models/mib.py
  fm/models/mibdata.py
  fm/models/oidalias.py
  services/classifier/service.py
Due: flake8, black, mypy, pylint

classifier: Speedup deduplication
  services/classifier/dedup.py
  services/classifier/service.py
Due: flake8, black, mypy, pylint

paging fixed
  ui/web/maintenance/maintenance/ObjectsPanel.js
  ui/web/maintenance/maintenance/ObjectsStore.js
Due: prettier, build:web

fix service.py, error 'MIB cache load' befor connect to mongodb
  services/classifier/service.py
Due: flake8, black, mypy, pylint

Fix
  services/classifier/service.py
Due: flake8, black, mypy, pylint

Fix
  services/classifier/dedup.py
Due: flake8, black, mypy, pylint

Update Eltex.TAU profile
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, pylint

FIx dc version
  docker/Readme.md
  docker/docker-compose-infra.yml
  docker/docker-compose-restoredb.yml
  docker/docker-compose-storedb.yml
  docker/docker-compose.yml
  docker/noc-docker-setup.sh
Due: prettier

Add liftbridge monitoring to selfmon.
  config.py
  services/selfmon/collectors/liftbridge.py
Due: flake8, black, mypy, pylint

Fix logging.
  services/selfmon/collectors/liftbridge.py
Due: flake8, black, mypy, pylint

FIx migrate
  docker/docker-compose.yml
  docker/noc-docker-backup.sh
  docker/noc-docker-restore.sh
Due: prettier

Fix nginx conf
  docker/etc/nginx/nginx.conf
Due: none

Fix ui/login
  docker/docker-compose.yml
  docker/etc/nginx/nginx.conf
Due: prettier

Fix
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_config.py
  sa/profiles/Eltex/TAU/get_inventory.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, pylint

classifier: Optimized event suppression
  collections/fm.eventclasses/Chassis/Fan/Fan_Failed.json
  collections/fm.eventclasses/Chassis/Fan/Fan_Removed.json
  collections/fm.eventclasses/NOC/Managed_Object/Ping_Failed.json
  collections/fm.eventclasses/NOC/Managed_Object/Ping_OK.json
  collections/fm.eventclasses/Network/DOCSIS/Unregistered_Modem_Deleted.json
  collections/fm.eventclasses/Network/IP/Address_Conflict.json
  collections/fm.eventclasses/Network/Link/Connection_Problem.json
  collections/fm.eventclasses/Network/Link/DOM/Warning_Out_of_Threshold.json
  collections/fm.eventclasses/Network/MAC/MAC_Flap.json
  collections/fm.eventclasses/Security/ACL/ACL_Deny.json
  collections/fm.eventclasses/Security/ACL/ACL_Permit.json
  collections/fm.eventclasses/Security/Accounting/WebVPN/Assigned.json
  collections/fm.eventclasses/Security/Accounting/WebVPN/Disconnected.json
  collections/fm.eventclasses/Security/Authentication/Rejected.json
  collections/fm.eventclasses/Security/Authentication/SNMP_Authentication_Failure.json
  collections/fm.eventclasses/Vendor/Arista/EOS/VMTracer/Failed_to_connect_to_vCenter.json
  collections/fm.eventclasses/Vendor/Cisco/IOS/Network/Load_Balance/Server_Farm_Degraded.json
  collections/fm.eventclasses/Vendor/Cisco/IOS/Network/Load_Balance/Server_Farm_is_Operate.json
  fm/migrations/0046_event_class_suppression.py
  fm/models/activeevent.py
  fm/models/eventclass.py
  services/classifier/evfilter/__init__.py
  services/classifier/evfilter/base.py
  services/classifier/evfilter/dedup.py
  services/classifier/evfilter/suppress.py
  services/classifier/service.py
  ui/web/fm/eventclass/Application.js
  ui/web/fm/eventclass/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  fm/migrations/0046_event_class_suppression.py
Due: flake8, black, mypy, pylint

Update 0046_event_class_suppression.py
  fm/migrations/0046_event_class_suppression.py
Due: flake8, black, mypy, pylint

fix
  services/web/apps/inv/reportobjectsserial/views.py
Due: flake8, black, mypy, pylint

created file collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
  collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
Due: prettier

fixed name FANGHANG
  collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
Due: prettier

create new vendor FANG HANG
  collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
  collections/inv.vendors/FANGHANG.json
Due: prettier

Cleanup docs
  docs/src/en/contents.rst
  docs/src/en/index.rst
  docs/src/en/introduction.rst
  docs/src/en/license.rst
  docs/src/en/meta/401.rst
  docs/src/en/meta/403.rst
  docs/src/en/meta/404.rst
  docs/src/en/meta/410.rst
  docs/src/en/meta/organization.rst
  docs/src/en/meta/style-guide.rst
Due: none

fixed full_name vendor FANG HANG
  collections/inv.vendors/FANGHANG.json
Due: prettier

was repaired uuid
  collections/inv.objectmodels/FANGHANG/Transceiver/10G/FH-DP1T30SS03.json
Due: prettier

Profile: Qtech.QFC QFC-LIGHT v2
  sa/profiles/Qtech/QFC/get_interface_status_ex.py
  sa/profiles/Qtech/QFC/get_interfaces.py
  sa/profiles/Qtech/QFC/get_metrics.py
  sa/profiles/Qtech/QFC/get_uptime.py
  sa/profiles/Qtech/QFC/get_version.py
  sa/profiles/Qtech/QFC/profile.py
  sa/profiles/Qtech/QFC/snmp_metrics/object_sysuptime.json
Due: flake8, black, mypy, prettier, pylint
