Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Django 3.1.7, FastAPI 0.63.0, mongoengine 0.22.1, grpcio 1.36
  .dockerignore
  Dockerfile
  requirements.txt
Due: gemnasium-python-dependency_scanning

Update main.yml
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Add deleted_filter.
  commands/etl.py
Due: flake8, black, mypy, pylint

Add db-diff to etl command. For calculate diff on DB and import.
  commands/etl.py
  core/etl/loader/base.py
Due: flake8, black, mypy, pylint

Update ansible/system_roles/liftbridge/templates/liftbridge_systemd.service.j2
  ansible/system_roles/liftbridge/templates/liftbridge_systemd.service.j2
Due: none

Add __name__
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, pylint

new IPAM ExtJS version: replace ipam on ipamII
  services/web/apps/ip/ipam/templates/index.html.j2
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/Application.js
  ui/web/ip/ipam/ApplicationController.js
  ui/web/ip/ipam/ApplicationModel.js
  ui/web/ip/ipam/LegacyPanel.js
  ui/web/ip/ipam/css/vrf_index.css
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/model/Prefix.js
  ui/web/ip/ipam/model/Range.js
  ui/web/ip/ipam/model/VRF.js
  ui/web/ip/ipam/store/VRF.js
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/GridController.js
  ui/web/ip/ipam/view/forms/Info.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
  ui/web/ip/ipam/view/forms/prefix/Prefix.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressListsController.js
  ui/web/ip/ipam/view/forms/prefix/PrefixController.js
  ui/web/ip/ipam/view/forms/prefix/PrefixDeletePanel.js
  ui/web/ip/ipam/view/forms/prefix/PrefixModel.js
  ui/web/ip/ipam/view/forms/prefix/PrefixPanel.js
  ui/web/ip/ipam/view/forms/prefix/RebasePanel.js
  ui/web/ip/ipam/view/forms/vrf/VRF.js
  ui/web/ip/ipam/view/forms/vrf/VRFController.js
  ui/web/ip/ipam/view/forms/vrf/VRFModel.js
Due: flake8, black, mypy, prettier, pylint, build:web

new IPAM ExtJS version: add styles
  ui/web/css/extjs.css
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Due: prettier, build:web

Fix merge.
  services/web/apps/ip/ipam/templates/vrf_index.html.j2
Due: none

Fix main to aaa migrate.
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
  ui/web/ip/ipam/view/forms/prefix/PrefixPanel.js
Due: prettier, build:web

Add __group paramter to web backend.
  lib/app/extapplication.py
  lib/app/extmodelapplication.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/ip/ipam/views.py
Due: flake8, black, mypy, pylint

Add queue and traffic_class to InterfaceScope path.
  collections/pm.metricscopes/Interface.json
Due: prettier

Fix.
  tests/test_config.py
Due: flake8, black, mypy, pylint

Ad retention and segment settings to stream
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Juniper.JunOS. Fix ConfDB normalizer for vlan_id 'none'.
  sa/profiles/Juniper/JUNOS/confdb/normalizer.py
  tests/confdb/profiles/Juniper/JUNOS/vlans_none1.yml
Due: flake8, black, mypy, prettier, pylint

Fix flake on translation command.
  commands/translation.py
Due: flake8, black, mypy, pylint

Mailsender. Set attachment part encoding to 'utf-8'.
  services/mailsender/service.py
Due: flake8, black, mypy, pylint

Fix default bounds on geocoder.
  core/geocoder/base.py
Due: flake8, black, mypy, pylint

Fix etl object loader change_object method. When delete data reset only RemoteSystem scope.
  core/etl/loader/object.py
  core/etl/remotesystem/base.py
Due: flake8, black, mypy, pylint

Remove Ubuntu16 deploy test due to old python3
  ansible/.ansible-ci.yml
Due: prettier

Fix Lookup fields.
  ui/web/ip/ipam/view/Grid.js
  ui/web/ip/ipam/view/forms/prefix/PrefixModel.js
  ui/web/ip/ipam/view/forms/vrf/VRF.js
  ui/web/ip/ipam/view/forms/vrf/VRFModel.js
Due: prettier, build:web

vak-1526 create liftbridge's queue revokedtokens.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

vak-1526 added subscribe fastapi -> liftbridge.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

Fix rebase.
  tests/test_config.py
Due: flake8, black, mypy, pylint

Remove unused.
  ui/web/ip/ipam/Application.js
Due: prettier, build:web

Cleanup unused.
  ui/web/css/extjs.css
  ui/web/ip/ipam/PrefixPanel.js
  ui/web/ip/ipam/view/forms/vrf/VRF.js
Due: prettier, build:web

Fix styles.
  ui/web/css/extjs.css
Due: prettier, build:web

Fix glyph.
  ui/web/js/glyph.js
Due: prettier, build:web

vak-1526 fixed name of stream.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

Fix state filed on VRF form.
  ui/web/css/extjs.css
  ui/web/ip/ipam/ApplicationController.js
  ui/web/ip/ipam/view/forms/vrf/VRF.js
Due: prettier, build:web

Fix.
  ui/web/core/StateField.js
Due: prettier, build:web

core.combo labelAlign default value left
  ui/web/core/ComboBox.js
Due: prettier, build:web

Fix typo.
  ui/web/cm/interfacevalidationpolicy/Application.js
  ui/web/inv/networksegment/Application.js
  ui/web/inv/networksegmentprofile/Application.js
  ui/web/kb/kbentry/Application.js
  ui/web/main/customfield/Application.js
  ui/web/main/datastreamconfig/Application.js
  ui/web/peer/as/Application.js
  ui/web/peer/asprofile/Application.js
  ui/web/phone/phonerange/Application.js
  ui/web/sa/administrativedomain/Application.js
  ui/web/sla/slaprofile/Application.js
Due: prettier, build:web

Speedup etl loader works.
  core/etl/loader/base.py
Due: flake8, black, mypy, pylint

Fix typo.
  core/etl/loader/base.py
Due: flake8, black, mypy, pylint

Change container on ManagedObject ETL loader to Object.
  core/etl/models/managedobject.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
