Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

add fix
  collections/pm.metrictypes/Environment/Current.json
Due: prettier

Fix ddash
  templates/ddash/dash_sensor_controller.j2
  templates/ddash/graph_sensor_electric_current.j2
  templates/ddash/graph_sensor_power.j2
  templates/ddash/panel_energy_consumption.j2
Due: none

fix black
  sa/profiles/Qtech/QFC/get_metrics.py
Due: flake8, black, mypy, pylint

fix unit on ddash
  templates/ddash/panel_energy_consumption.j2
Due: none

Add getting serial number from CLI
  sa/profiles/Eltex/TAU/get_version.py
Due: flake8, black, mypy, pylint

fix decimals
  templates/ddash/graph_sensor_electric_current.j2
Due: none

docs: Connection Restrictions
  docs/en/docs/_static/extra.css
  docs/en/docs/about/translations.md
  docs/en/docs/admin/index.md
  docs/en/docs/dev/background/connection-restrictions/crossing-all.svg
  docs/en/docs/dev/background/connection-restrictions/crossing-group.svg
  docs/en/docs/dev/background/connection-restrictions/direction-io.svg
  docs/en/docs/dev/background/connection-restrictions/index.md
  docs/en/docs/dev/index.md
  docs/en/docs/dev/reference/api/datastream/managedobject.md
  docs/en/docs/dev/reference/connection-type/index.md
  docs/en/docs/dev/reference/model-interface/airflow.md
  docs/en/docs/dev/reference/model-interface/asset.md
  docs/en/docs/dev/reference/model-interface/contacts.md
  docs/en/docs/dev/reference/model-interface/container.md
  docs/en/docs/dev/reference/model-interface/cpu.md
  docs/en/docs/dev/reference/model-interface/dimensions.md
  docs/en/docs/dev/reference/model-interface/geopoint.md
  docs/en/docs/dev/reference/model-interface/index.md
  docs/en/docs/dev/reference/model-interface/length.md
  docs/en/docs/dev/reference/model-interface/management.md
  docs/en/docs/dev/reference/model-interface/modbus.md
  docs/en/docs/dev/reference/model-interface/optical.md
  docs/en/docs/dev/reference/model-interface/plan.md
  docs/en/docs/dev/reference/model-interface/pop.md
  docs/en/docs/dev/reference/model-interface/power.md
  docs/en/docs/dev/reference/model-interface/rack.md
  docs/en/docs/dev/reference/model-interface/rackmount.md
  docs/en/docs/dev/reference/model-interface/sector.md
  docs/en/docs/dev/reference/model-interface/splitter.md
  docs/en/docs/dev/reference/model-interface/stack.md
  docs/en/docs/dev/reference/model-interface/twinax.md
  docs/en/docs/dev/reference/model-interface/weight.md
  docs/en/docs/dev/reference/object-model/index.md
  docs/en/docs/dev/reference/object-model/tags.md
  docs/en/docs/user/reference/concepts/vendor/index.md
  docs/en/docs/user/reference/mx/managedobject.md
  docs/en/mkdocs.yml
Due: prettier

Update Eltex.TAU profile
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_config.py
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, pylint

Remove HC due to error
  Dockerfile
Due: none

sa.managedobject: Search by geo address
  config.py
  core/geocoder/base.py
  core/geocoder/google.py
  core/geocoder/osm.py
  core/geocoder/yandex.py
  inv/models/object.py
  services/web/apps/gis/geocoder/__init__.py
  services/web/apps/gis/geocoder/views.py
  services/web/apps/main/desktop/views.py
  services/web/apps/sa/managedobject/views.py
  ui/web/core/ModelApplication.js
  ui/web/core/modelfilter/GeoAddress.js
  ui/web/gis/geocoder/LookupField.js
  ui/web/js/boot.js
  ui/web/sa/managedobject/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  core/geocoder/osm.py
Due: flake8, black, mypy, pylint

Revert compose.yml
  docker/docker-compose.yml
  docker/etc/nginx/nginx.conf
Due: prettier

add metrics "Subscribers | Summary | Slot" and "Subscribers | Summary | Port" Alcatel.TIMOS
  sa/profiles/Alcatel/TIMOS/get_metrics.py
Due: flake8, black, mypy, pylint

vak-1471 was fixed mistake is_builtin
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

vak-1471 fixed is_builtin
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Update get_metrics.py
  sa/profiles/Alcatel/TIMOS/get_metrics.py
Due: flake8, black, mypy, pylint

Add master build possibility on schedule
  .gitlab-ci.yml
Due: prettier

vak-1471 was edited _bulk_field_is_builtin
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Update
  sa/profiles/Eltex/TAU/get_chassis_id.py
  sa/profiles/Eltex/TAU/get_config.py
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_version.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, pylint

Revert "vak-1471 was edited _bulk_field_is_builtin"
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

vak-1471 was changed code of cleaned_query.
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Fix limit param.
  services/web/apps/gis/geocoder/views.py
Due: flake8, black, mypy, pylint

vak-1471 removed super().cleaned_query(q)
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Add getting container to geoaddr getting.
  inv/models/object.py
  services/web/apps/sa/managedobject/views.py
Due: flake8, black, mypy, pylint

Fix black.
  inv/models/object.py
Due: flake8, black, mypy, pylint

vak-1471 append block if-else.
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

vak-1471 fixed back's mistake.
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Fix access on geocoder api_lookup.
  services/web/apps/gis/geocoder/views.py
Due: flake8, black, mypy, pylint

classifier: Fix deduplication on event load spikes
  config.py
Due: flake8, black, mypy, pylint

Fix
  services/classifier/evfilter/base.py
Due: flake8, black, mypy, pylint

vak-1471 uuid.UUID in builtins
  lib/app/extdocapplication.py
Due: flake8, black, mypy, pylint

Add get_fqdn scripts on profiles
  sa/profiles/Alcatel/TIMOS/get_fqdn.py
  sa/profiles/DLink/DAS/get_fqdn.py
  sa/profiles/Eltex/DSLAM/get_fqdn.py
  sa/profiles/Eltex/LTP/get_fqdn.py
  sa/profiles/Eltex/MA4000/get_fqdn.py
  sa/profiles/Eltex/MES24xx/get_fqdn.py
  sa/profiles/Huawei/VRP3/get_fqdn.py
  sa/profiles/NSN/TIMOS/get_fqdn.py
  sa/profiles/ZTE/ZXDSL98xx/get_fqdn.py
Due: flake8, black, mypy, pylint

fix flake8
  sa/profiles/Alcatel/TIMOS/get_fqdn.py
  sa/profiles/DLink/DAS/get_fqdn.py
  sa/profiles/Eltex/DSLAM/get_fqdn.py
  sa/profiles/Eltex/LTP/get_fqdn.py
  sa/profiles/Eltex/MA4000/get_fqdn.py
  sa/profiles/Huawei/VRP3/get_fqdn.py
  sa/profiles/NSN/TIMOS/get_fqdn.py
Due: flake8, black, mypy, pylint

fix flake8
  sa/profiles/ZTE/ZXDSL98xx/get_fqdn.py
Due: flake8, black, mypy, pylint

fix name
  sa/profiles/DLink/DAS/get_fqdn.py
Due: flake8, black, mypy, pylint

fix timestamp
  services/classifier/evfilter/base.py
Due: flake8, black, mypy, pylint

vak-1446 tags -> class ActiveAlarm and tags -> class ArchivedAlarm.
  fm/models/activealarm.py
  fm/models/archivedalarm.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
