Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

vak-1465 fixed start_date.
  commands/datastream.py
Due: flake8, black, mypy, pylint

vak-908 first draft of netflow service.
  services/netflowcollector/__init__.py
  services/netflowcollector/datastream.py
  services/netflowcollector/netflowserver.py
  services/netflowcollector/service.py
  services/netflowcollector/sourceconfig.py
Due: flake8, black, mypy, pylint

fix window
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

vak-908 created config.netflowcollector
  config.py
  services/netflowcollector/netflowserver.py
Due: flake8, black, mypy, pylint

some fixes
  services/correlator/service.py
Due: flake8, black, mypy, pylint

remove alarmdiagnostic
  services/correlator/service.py
Due: flake8, black, mypy, pylint

vak-1465 changed param name alarm_ttl -> ttl
  commands/datastream.py
  config.py
Due: flake8, black, mypy, pylint

fix
  services/correlator/service.py
Due: flake8, black, mypy, pylint

vak-1465 addition params ttl every datastream to config.
  commands/datastream.py
  config.py
Due: flake8, black, mypy, pylint

vak-1465 fixed default values of datastreams ttl
  config.py
Due: flake8, black, mypy, pylint

vak-1465 fixed black's mistake.
  commands/datastream.py
Due: flake8, black, mypy, pylint

vak-1465 changed if-block.
  commands/datastream.py
Due: flake8, black, mypy, pylint

rust: fix noc-dns-sync warnings
  .gitlab-ci.yml
  rust/Cargo.toml
  rust/datastream/src/sync/mod.rs
  rust/dnssync/Cargo.toml
  rust/dnssync/src/change/bind.rs
  rust/dnssync/src/change/mod.rs
  rust/dnssync/src/cmd.rs
  rust/dnssync/src/dnszone.rs
  rust/dnssync/src/error.rs
  rust/dnssync/src/main.rs
Due: prettier, build:rust

vak-908 changed some messages: from syslog to netflow
  services/netflowcollector/service.py
Due: flake8, black, mypy, pylint

Change
  fm/models/alarmclass.py
  fm/models/alarmclassconfig.py
  services/correlator/service.py
  ui/web/fm/alarmclass/Application.js
  ui/web/fm/alarmclass/Model.js
  ui/web/fm/alarmclassconfig/Application.js
  ui/web/fm/alarmclassconfig/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

fix flake8
  fm/models/alarmclassconfig.py
Due: flake8, black, mypy, pylint

Remove alarmdiagnostica for alarm repeat
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix Calculate Alarm Severity
  fm/models/activealarm.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix export
  rust/datastream/src/client/http.rs
  rust/datastream/src/sync/mod.rs
Due: build:rust

add comment icon & fix for IE 11
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/fm/alarm/view/grids/Grid.js
  ui/web/fm/alarm/view/grids/GridViewTable.js
Due: prettier, build:web

fix for IE 11
  ui/web/fm/alarm/view/grids/ContainerController.js
Due: prettier, build:web

Add AlarmComments Report.
  services/web/apps/fm/reportalarmcomments/__init__.py
  services/web/apps/fm/reportalarmcomments/views.py
  ui/web/fm/reportalarmcomments/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix import.
  services/web/apps/fm/reportalarmcomments/views.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/fm/reportalarmcomments/views.py
Due: flake8, black, mypy, pylint

Fix black.
  services/web/apps/fm/reportalarmcomments/views.py
Due: flake8, black, mypy, pylint

vak-1501 created exeptions classes.
  services/login/exceptions.py
Due: flake8, black, mypy, pylint

vak-1501 changed messages exceptions of method /api/login/token
  services/login/exceptions.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

vak-1501 fixed branch's mistake.
  services/netflowcollector/__init__.py
  services/netflowcollector/datastream.py
  services/netflowcollector/netflowserver.py
  services/netflowcollector/service.py
  services/netflowcollector/sourceconfig.py
Due: flake8, black, mypy, pylint

vak-1501 fixed branch's mistake.
  config.py
Due: flake8, black, mypy, pylint

vak-1501 fixed black's mistake.
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

Profile: IPQAM
  sa/profiles/Sumavision/IPQAM/__init__.py
  sa/profiles/Sumavision/IPQAM/get_capabilities.py
  sa/profiles/Sumavision/IPQAM/get_chassis_id.py
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
  sa/profiles/Sumavision/IPQAM/get_version.py
  sa/profiles/Sumavision/IPQAM/profile.py
Due: flake8, black, mypy, pylint

vak-1501 error messages of /api/login/revoke.
  services/login/models/status.py
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

vak-1501 fixed /api/login/revoke.
  services/login/models/status.py
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

fix profile
  sa/profiles/Sumavision/IPQAM/get_capabilities.py
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  sa/profiles/Sumavision/IPQAM/get_version.py
Due: flake8, black, mypy, pylint

Add Metrics Add Caps Change get_metrics
  collections/inv.capabilities/Network/DVBC.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Percent.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Used.json
  collections/pm.metrictypes/Multicast/Channel/Group/Count.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/In.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/Out.json
  collections/pm.metrictypes/Multicast/Group/Status.json
  sa/profiles/Sumavision/IPQAM/get_capabilities.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

Add Doc and profile
  collections/sa.profiles/Sumavision/IPQAM.json
  docs/en/docs/user/reference/profiles/Sumavision/Sumavision.IPQAM.md
Due: prettier

Add profile check rule
  collections/sa.profilecheckrules/Sumavision/IPQAM/10K511N_sysObjectID.json
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
