Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

./noc cdag command
  commands/cdag.py
  core/management/base.py
  tests/cdag/test_metrics_case.py
Due: flake8, black, mypy, pylint

Fix
  tests/cdag/test_metrics_case.py
Due: flake8, black, mypy, pylint

vak-1572 merging dbf tables.
  gis/parsers/address/fias.py
Due: flake8, black, mypy, pylint

vak-1572 changed open mode of dbf file.
  gis/parsers/address/fias.py
Due: flake8, black, mypy, pylint

Fix type
  services/ui/paths/administrativedomain.py
Due: flake8, black, mypy, pylint

vak-1572 fixed misprints.
  gis/parsers/address/fias.py
Due: flake8, black, mypy, pylint

Fix pep8
  sa/profiles/Eltex/LTE/get_interfaces.py
Due: flake8, black, mypy, pylint

Fix variable interval.
  lib/app/reportdatasources/base.py
Due: flake8, black, mypy, pylint

Fix typo.
  sa/profiles/Qtech/QFC/get_inventory.py
  sa/profiles/Qtech/QFC/get_metrics.py
Due: flake8, black, mypy, pylint

vak-1572 turn off few fields from oktmo.csv
  gis/parsers/address/fias.py
Due: flake8, black, mypy, pylint

Fix typo.
  sa/profiles/Generic/get_metrics.py
Due: flake8, black, mypy, pylint

Fix sensor value graph.
  services/web/apps/pm/ddash/dashboards/mo.py
  templates/ddash/graph_sensor_value.j2
Due: flake8, black, mypy, pylint

Fix sensor id.
  collections/inv.objectmodels/Qtech/QFC/QFC-PBIC-LIGHT_V_2.json
  sa/profiles/ElectronR/KO01M/get_inventory.py
  sa/profiles/Qtech/QFC/get_inventory.py
Due: flake8, black, mypy, prettier, pylint

CDAG: Graph merging
  commands/cdag.py
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/value.py
Due: flake8, black, mypy, pylint

Fix
  core/cdag/node/value.py
Due: flake8, black, mypy, pylint

Fix typo.
  services/web/apps/pm/ddash/dashboards/mo.py
Due: flake8, black, mypy, pylint

Huawei.VRP.get_metrics. Use hwCBQoSPolicyStatisticsClassifierTable for collect CBQOS metrics.
  collections/inv.capabilities/Huawei/OID/hwCBQoSPolicyStatisticsClassifierTable.json
  sa/profiles/Huawei/VRP/get_capabilities.py
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

Add logging.
  sa/profiles/Huawei/VRP/get_metrics.py
Due: flake8, black, mypy, pylint

CDAG: MetricScope factory
  commands/cdag.py
  core/cdag/factory/scope.py
Due: flake8, black, mypy, pylint

Add MeasurementUnits ot MetricType.
  collections/pm.measurementunits/bit_s.json
  collections/pm.metrictypes/Interface/Load/In.json
  collections/pm.metrictypes/Interface/Load/Out.json
  pm/models/metrictype.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix on_delete_check.
  pm/models/measurementunits.py
Due: flake8, black, mypy, pylint

Configure key fields in scope factory
  commands/cdag.py
  core/cdag/factory/scope.py
Due: flake8, black, mypy, pylint

metrics service
  commands/migrate-liftbridge.py
  services/metrics/__init__.py
  services/metrics/service.py
Due: flake8, black, mypy, pylint

Naive card generation
  services/metrics/service.py
Due: flake8, black, mypy, pylint

Fix multicast Group metrics.
  collections/pm.measurementunits/Decibel-uv.json
  collections/pm.metrictypes/Interface/RF/TxPower.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Percent.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Used.json
  collections/pm.metrictypes/Multicast/Channel/Group/Count.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/In.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/Out.json
  collections/pm.metrictypes/Multicast/Group/Status.json
Due: prettier

Fix Current.
  collections/pm.measurementunits/Ampere.json
  collections/pm.metrictypes/Environment/Current.json
Due: prettier

Fix Last Change.
  collections/pm.metrictypes/Environment/Power/Input/Status.json
  collections/pm.metrictypes/Environment/Pulse.json
  collections/pm.metrictypes/Environment/Status.json
  collections/pm.metrictypes/Interface/Status/Admin.json
  collections/pm.metrictypes/Interface/Status/Duplex.json
  collections/pm.metrictypes/Interface/Status/Oper.json
  collections/pm.metrictypes/Interface/lastchange.json
  collections/pm.metrictypes/Multicast/Channel/Group/Count.json
  collections/pm.metrictypes/Multicast/Group/Status.json
Due: prettier

Fix.
  collections/pm.measurementunits/Ampere.json
  collections/pm.measurementunits/Bytes.json
  collections/pm.measurementunits/InterfaceStatus.json
  collections/pm.measurementunits/Microsecond.json
  collections/pm.measurementunits/Millisecond.json
  collections/pm.measurementunits/Packets.json
  collections/pm.measurementunits/Packets_s.json
  collections/pm.measurementunits/Second.json
  collections/pm.measurementunits/bit_s.json
  collections/pm.metrictypes/Environment/Current.json
  collections/pm.metrictypes/Interface/DOM/BiasCurrent.json
  collections/pm.metrictypes/Interface/Status/Admin.json
  collections/pm.metrictypes/Interface/Status/Oper.json
  collections/pm.metrictypes/Ping/RTT.json
  collections/pm.metrictypes/SLA/ICMP_RTT.json
  collections/pm.metrictypes/SLA/JITTER.json
  collections/pm.metrictypes/SLA/UDP_RTT.json
Due: prettier

Add check convert expession on AltUnit.
  collections/pm.measurementunits/milliAmpere.json
  pm/models/measurementunits.py
Due: flake8, black, mypy, prettier, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
