Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Filter effective_labels by can_set_label.
  main/models/label.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint

vak-ping moved transforming type of key param.
  core/service/base.py
  services/ping/service.py
Due: flake8, black, mypy, pylint

Update collections/inv.objectmodels/Qtech/QSW/QSW-2910-26T-POE.json, collections/inv.objectmodels/Qtech/QSW/QSW-3450-28TX-AC.json, collections/inv.objectmodels/Qtech/QSW/QSW-2910-28T-POE.json files
  collections/inv.objectmodels/Qtech/QSW/QSW-2910-26T-POE.json
  collections/inv.objectmodels/Qtech/QSW/QSW-2910-28T-POE.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3450-28TX-AC.json
Due: prettier

Update QSW-3450-28TX-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3450-28TX-AC.json
Due: prettier

service-ping-start changed param key: ps.id -> ps.bi_id.
  services/ping/service.py
Due: flake8, black, mypy, pylint

Migrate SLA and FM model Tag to labels.
  fm/migrations/0047_labels.py
  fm/models/activealarm.py
  fm/models/archivedalarm.py
  main/models/label.py
  sa/models/managedobjectprofile.py
  services/datastream/streams/alarm.py
  services/discovery/jobs/box/sla.py
  services/discovery/jobs/box/version.py
  sla/migrations/0003_labels.py
  sla/models/slaprobe.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  ui/web/sla/slaprobe/Application.js
  ui/web/sla/slaprobe/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  fm/migrations/0047_labels.py
Due: flake8, black, mypy, pylint

Fix flake.
  fm/models/activealarm.py
  inv/migrations/0021_labels.py
  inv/models/objectmodel.py
Due: flake8, black, mypy, pylint

Fix objectmodel.
  inv/models/objectmodel.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/maintenance/maintenance/ObjectsModel.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add expose_metrics to PM labels.
  main/models/label.py
  pm/models/metricscope.py
  templates/ddash/graph_subinterface_load.j2
Due: flake8, black, mypy, pylint

Fix typo.
  main/models/label.py
  ui/web/sla/slaprobe/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add Label extractor to ETL.
  core/etl/models/managedobject.py
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1452 created and used func delete_wrap.
  services/classifier/rule.py
Due: flake8, black, mypy, pylint

vak-1452 fixed flake8 E741 mistake.
  services/classifier/rule.py
Due: flake8, black, mypy, pylint

Add ETL Label model.
  core/etl/loader/label.py
  core/etl/models/label.py
  core/etl/remotesystem/base.py
  fm/models/activealarm.py
  fm/models/archivedalarm.py
  main/models/label.py
  main/models/remotesystem.py
  services/bi/api/bi.py
  ui/web/main/label/Application.js
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix clean_bool on base ETL loader.
  core/etl/loader/base.py
  core/etl/models/label.py
Due: flake8, black, mypy, pylint

Add migrate data between PM schema.
  fixes/convert_pm_schema.py
Due: flake8, black, mypy, pylint

Fix chunked on iter_time_interval.
  fixes/convert_pm_schema.py
Due: flake8, black, mypy, pylint

Fix FM threshold handler to labels.
  fm/handlers/thresholds/iface.py
  lib/app/reportdatasources/report_objectifacestypestat.py
Due: flake8, black, mypy, pylint

Fix typo.
  fm/handlers/thresholds/iface.py
  lib/app/reportdatasources/report_objectifacestypestat.py
Due: flake8, black, mypy, pylint

Add supplier and resource groups
  crm/models/supplier.py
  inv/models/resourcegroup.py
  sa/models/service.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

fix supplier field
  ui/web/sa/service/Application.js
Due: prettier, build:web

Fix ResourceGroup set.
  sa/models/service.py
  services/web/apps/sa/service/views.py
  ui/web/phone/phonenumber/Application.js
  ui/web/sa/service/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add resource_groups indexes to service.
  sa/models/service.py
Due: flake8, black, mypy, pylint

Load list fields incrementally on ETL loader.
  core/etl/loader/base.py
Due: flake8, black, mypy, pylint

Fix change_object args.
  core/etl/loader/container.py
  core/etl/loader/link.py
  core/etl/loader/object.py
Due: flake8, black, mypy, pylint

vak-1550 append ping_time_expr_policy into ManagedObjectProfile.
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint

vak-1550 created migration and added ping_time_expr_policy into cfgping datastream.
  sa/migrations/0215_managedobjectprofile_ping_time_expr_policy.py
  sa/models/managedobject.py
  services/datastream/streams/cfgping.py
Due: flake8, black, mypy, pylint

vak-1550 fixed black's mistake.
  sa/migrations/0215_managedobjectprofile_ping_time_expr_policy.py
Due: flake8, black, mypy, pylint

vak-1550 implemented algorithm.
  services/ping/probesetting.py
  services/ping/service.py
Due: flake8, black, mypy, pylint

vak-1550 changed ping_time_expr_policy algorithm.
  services/ping/service.py
Due: flake8, black, mypy, pylint

Update QSW-2910-26T-POE.json
  collections/inv.objectmodels/Qtech/QSW/QSW-2910-26T-POE.json
Due: prettier
