Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Fix black
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, pylint

Add Workflow to SLAProbe model.
  main/models/label.py
  sa/interfaces/igetslaprobes.py
  services/discovery/jobs/box/sla.py
  sla/migrations/0004_set_bi_id.py
  sla/migrations/0005_slaprobe_workflow.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  wf/migrations/0005_slaprobe_default.py
  wf/models/state.py
  wf/models/workflow.py
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  wf/migrations/0005_slaprobe_default.py
Due: flake8, black, mypy, pylint

Fix UI.
  services/web/apps/sla/slaprobe/views.py
  ui/web/sla/slaprobe/Application.js
  ui/web/sla/slaprobe/Model.js
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
  wf/migrations/0005_slaprobe_default.py
Due: flake8, black, mypy, prettier, pylint, build:web

Use SyntaxError.
  services/classifier/rule.py
  services/web/apps/fm/classificationrule/views.py
Due: flake8, black, mypy, pylint

Huawei.VRP Add get_sla_probes script on SNMP.
  cmibs/cisco_rttmon_mib.py
  cmibs/disman_ping_mib.py
  cmibs/nqa_mib.py
  collections/inv.capabilities/Huawei/NQA/Probes.json
  collections/inv.capabilities/Huawei/NQA/Responder.json
  sa/profiles/Cisco/IOS/get_capabilities.py
  sa/profiles/Cisco/IOS/get_sla_probes.py
  sa/profiles/Huawei/VRP/get_capabilities.py
  sa/profiles/Huawei/VRP/get_sla_probes.py
  services/discovery/jobs/box/sla.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
Due: flake8, black, mypy, prettier, pylint

Fix flake.
  sa/profiles/Huawei/VRP/get_sla_probes.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
Due: flake8, black, mypy, pylint

ssh: Allow `none` authentication method
  core/script/cli/ssh.py
  requirements.txt
Due: flake8, black, mypy, pylint, gemnasium-python-dependency_scanning

Fix
  core/script/cli/ssh.py
Due: flake8, black, mypy, pylint

Add Label.match_labels decorator.
  main/models/label.py
  main/models/prefixtable.py
  services/web/apps/main/label/views.py
  vc/models/vcfilter.py
Due: flake8, black, mypy, pylint

Fix flake.
  main/models/prefixtable.py
Due: flake8, black, mypy, pylint

Fix typo.
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1560 changed method save by decorator tree.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

Add lazy_labels.
  inv/models/platform.py
  inv/models/vendor.py
  main/models/pool.py
  main/models/prefixtable.py
  sa/models/administrativedomain.py
  sa/models/managedobject.py
  sa/models/profile.py
Due: flake8, black, mypy, pylint

Add tower.db editing
  scripts/deploy/change-ip.py
Due: flake8, black, mypy, pylint

Update collections/inv.objectmodels/Edge-Core/ES/ECS3510-28T.json, collections/inv.objectmodels/Edge-Core/ES/ECS3510-52T.json files
  collections/inv.objectmodels/Edge-Core/ES/ECS3510-28T.json
  collections/inv.objectmodels/Edge-Core/ES/ECS3510-52T.json
Due: prettier

Update collections/inv.connectionrules/Generic/Switch_SFP_Prefixed.json
  collections/inv.connectionrules/Generic/Switch_SFP_Prefixed.json
Due: prettier

noc-agent: unified error handling
  rust/agent/Cargo.toml
  rust/agent/src/agent.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/registry.rs
  rust/agent/src/collectors/test/collector.rs
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/error.rs
  rust/agent/src/lib.rs
  rust/agent/src/nvram.rs
  rust/agent/src/proto/connection.rs
  rust/agent/src/proto/frame.rs
  rust/agent/src/proto/pktmodel/cbr.rs
  rust/agent/src/proto/pktmodel/g711.rs
  rust/agent/src/proto/pktmodel/g729.rs
  rust/agent/src/proto/pktmodel/imix.rs
  rust/agent/src/proto/pktmodel/registry.rs
  rust/agent/src/proto/twamp/accept_session.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
  rust/agent/src/proto/twamp/server_greeting.rs
  rust/agent/src/proto/twamp/server_start.rs
  rust/agent/src/proto/twamp/setup_response.rs
  rust/agent/src/proto/twamp/start_ack.rs
  rust/agent/src/proto/twamp/start_sessions.rs
  rust/agent/src/proto/twamp/stop_sessions.rs
  rust/agent/src/proto/twamp/test_request.rs
  rust/agent/src/proto/twamp/test_response.rs
  rust/agent/src/proto/udp.rs
  rust/agent/src/zk.rs
Due: build:rust

Fix
  rust/agent/src/proto/twamp/accept_session.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
  rust/agent/src/proto/twamp/server_greeting.rs
  rust/agent/src/proto/twamp/server_start.rs
  rust/agent/src/proto/twamp/setup_response.rs
  rust/agent/src/proto/twamp/start_ack.rs
  rust/agent/src/proto/twamp/start_sessions.rs
  rust/agent/src/proto/twamp/stop_sessions.rs
  rust/agent/src/proto/twamp/test_request.rs
  rust/agent/src/proto/twamp/test_response.rs
Due: build:rust

Use effective_settings method.
  main/models/label.py
  main/models/pool.py
  sa/models/administrativedomain.py
  sa/models/managedobject.py
  sa/models/profile.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Additional model to ManagedObject effective labels.
  crm/migrations/0003_labels.py
  dns/migrations/0042_labels.py
  fm/models/ttsystem.py
  gis/migrations/0006_labels.py
  inv/migrations/0021_labels.py
  ip/migrations/0047_labels.py
  ip/models/vrf.py
  kb/migrations/0010_labels.py
  main/models/label.py
  main/models/pool.py
  peer/migrations/0043_labels.py
  sa/migrations/0213_labels.py
  sa/models/administrativedomain.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sla/migrations/0003_labels.py
  vc/migrations/0025_labels.py
  vc/models/vcdomain.py
Due: flake8, black, mypy, pylint

Add migration.
  fm/models/ttsystem.py
  ip/models/vrf.py
  main/migrations/0060_create_default_labels.py
  main/models/label.py
  sa/models/managedobjectprofile.py
  vc/models/vcdomain.py
Due: flake8, black, mypy, pylint

Fix flake.
  vc/models/vcdomain.py
Due: flake8, black, mypy, pylint

Fix flake.
  main/migrations/0060_create_default_labels.py
Due: flake8, black, mypy, pylint

Add more Juniper models
  collections/inv.objectmodels/Juniper/EX/EX9200-40F.json
  collections/inv.objectmodels/Juniper/EX/EX9200-40XS.json
  collections/inv.objectmodels/Juniper/EX/EX9200_SF.json
  collections/inv.objectmodels/Juniper/EX/JPSU-650W-AC-AFI.json
  collections/inv.objectmodels/Juniper/MX/RE-S-MX104-S.json
Due: prettier

Fix
  collections/inv.objectmodels/Juniper/EX/EX9200-40XS.json
Due: prettier

BaseCommand --show-usage option
  core/management/base.py
Due: flake8, black, mypy, pylint

Fix
  core/management/base.py
Due: flake8, black, mypy, pylint

Add some pluggable types to test
  tests/collections/test_inv_objectmodels.py
Due: flake8, black, mypy, pylint

Fix formatting
  tests/collections/test_inv_objectmodels.py
Due: flake8, black, mypy, pylint

Remove matched label after delete instance.
  core/model/decorator.py
  fm/models/ttsystem.py
  inv/models/platform.py
  inv/models/vendor.py
  ip/models/vrf.py
  main/migrations/0060_create_default_labels.py
  main/models/label.py
  main/models/pool.py
  main/models/prefixtable.py
  sa/models/administrativedomain.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  vc/models/vcdomain.py
Due: flake8, black, mypy, pylint

Fix tests.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

vak-1572 changed lib from gzip to zipfile.
  commands/update-addr.py
  config.py
  gis/parsers/address/base.py
  gis/parsers/address/fias.py
Due: flake8, black, mypy, pylint

vak-1572 deleted wrong cycle.
  commands/update-addr.py
Due: flake8, black, mypy, pylint

Add Dynamic resource groups rule.
  core/resourcegroup/decorator.py
  inv/models/resourcegroup.py
  ui/web/inv/resourcegroup/Application.js
  ui/web/inv/resourcegroup/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix typo.
  inv/models/resourcegroup.py
Due: flake8, black, mypy, pylint

vak-1560 added raise FieldError.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

Add unset_service_group for change labels.
  inv/models/resourcegroup.py
Due: flake8, black, mypy, pylint

vak-1560 calculated parent_id var.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
