Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Fix typo.
  core/resourcegroup/decorator.py
  inv/models/resourcegroup.py
Due: flake8, black, mypy, pylint

vak-1560 uses pre_save signal for AdministrativeDomain model.
  core/model/decorator.py
  sa/models/administrativedomain.py
Due: flake8, black, mypy, pylint

Fix ResourceGroup invalidate.
  inv/models/resourcegroup.py
Due: flake8, black, mypy, pylint

pyo3 noc.speedup.ip
  rust/Cargo.toml
  rust/pyip/Cargo.toml
  rust/pyip/src/lib.rs
Due: build:rust

build_icmp_echo_request_ts
  core/ioloop/ping.py
  rust/pyip/src/lib.rs
  speedup/ip.pyx
Due: flake8, black, mypy, pylint, build:rust

ping: use native asyncio
  core/ioloop/ping.py
Due: flake8, black, mypy, pylint

Move rust build upper
  .gitlab-ci.yml
Due: prettier

Fix cythonize script for rust library.
  scripts/deploy/cythonize
Due: none

Revert cythonize.
  scripts/deploy/cythonize
Due: none

Add RegexpLabel UI.
  main/models/regexplabel.py
  services/web/apps/main/regexplabel/views.py
  ui/web/main/regexplabel/Application.js
  ui/web/main/regexplabel/LookupField.js
  ui/web/main/regexplabel/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add RegexpLabel to model.
  models.py
Due: flake8, black, mypy, pylint

Add RegexLabel model.
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

Fix flake.
  main/models/regexplabel.py
  services/web/apps/main/regexplabel/__init__.py
  services/web/apps/main/regexplabel/views.py
Due: flake8, black, mypy, pylint

View list files in project
  .gitlab-ci.yml
Due: prettier

Change lib name to proper
  .gitlab-ci.yml
Due: prettier

MOve rust build to template
  .gitlab-ci.yml
Due: prettier

Fixes ci
  .gitlab-ci.yml
Due: prettier

Separate different rust entities in each build
  .gitlab-ci.yml
Due: prettier

Add Sensor Inventory plugin.
  services/web/apps/inv/inv/plugins/sensor.py
  services/web/apps/inv/inv/views.py
  services/web/apps/inv/sensor/__init__.py
  services/web/apps/inv/sensor/views.py
Due: flake8, black, mypy, pylint

draft.json removed
  ui/draft.json
Due: prettier

sensorPanel added
  ui/draft.json
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
  ui/web/ux/form/GridField.js
Due: prettier, build:web

Fix backend.
  services/web/apps/inv/inv/plugins/sensor.py
Due: flake8, black, mypy, pylint

save function added
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
  ui/web/ux/form/GridField.js
Due: prettier, build:web

Fix Sensor panel.
  services/web/apps/inv/inv/plugins/sensor.py
  services/web/apps/inv/sensor/views.py
  ui/web/inv/inv/plugins/sensor/SensorModel.js
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
Due: flake8, black, mypy, prettier, pylint, build:web

Download lib if there is no in artifacts
  Dockerfile
Due: none

noc-agent: Define output format
  rust/agent/Cargo.toml
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/cpu/collector.rs
  rust/agent/src/collectors/cpu/mod.rs
  rust/agent/src/collectors/cpu/out.rs
  rust/agent/src/collectors/cpu/platform/default.rs
  rust/agent/src/collectors/cpu/platform/linux.rs
  rust/agent/src/collectors/cpu/platform/mod.rs
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/dns/mod.rs
  rust/agent/src/collectors/dns/out.rs
  rust/agent/src/collectors/fs/collector.rs
  rust/agent/src/collectors/fs/out.rs
  rust/agent/src/collectors/memory/collector.rs
  rust/agent/src/collectors/memory/mod.rs
  rust/agent/src/collectors/memory/out.rs
  rust/agent/src/collectors/memory/platform/default.rs
  rust/agent/src/collectors/memory/platform/freebsd.rs
  rust/agent/src/collectors/memory/platform/linux.rs
  rust/agent/src/collectors/memory/platform/macos.rs
  rust/agent/src/collectors/memory/platform/mod.rs
  rust/agent/src/collectors/memory/platform/openbsd.rs
  rust/agent/src/collectors/memory/platform/windows.rs
  rust/agent/src/collectors/uptime/collector.rs
  rust/agent/src/collectors/uptime/mod.rs
  rust/agent/src/collectors/uptime/out.rs
  rust/agent/src/config/config.rs
  rust/agent/src/error.rs
Due: build:rust

noc-agent: Rest of output formats
  rust/agent/src/collectors/memory/platform/linux.rs
  rust/agent/src/collectors/network/collector.rs
  rust/agent/src/collectors/network/mod.rs
  rust/agent/src/collectors/network/out.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/collectors/twamp_sender/mod.rs
  rust/agent/src/collectors/twamp_sender/out.rs
  rust/agent/src/proto/tos.rs
Due: build:rust

initial commit
  ui/web/js/glyph.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/InterfacePanel.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobject/SensorsStore.js
Due: prettier, build:web

Change image to own
  .gitlab-ci.yml
Due: prettier

Fix Sensor backend.
  services/web/apps/inv/sensor/views.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/inv/sensor/views.py
Due: flake8, black, mypy, pylint

Add default x,y location for users in config
  aaa/models/user.py
  config.py
  fixes/fix_user_default_location.py
Due: flake8, black, mypy, pylint

fix f8
  fixes/fix_user_default_location.py
Due: flake8, black, mypy, pylint

ui: REST API filters
  services/ui/paths/administrativedomain.py
  services/ui/utils/rest/base.py
  services/ui/utils/rest/document.py
  services/ui/utils/rest/model.py
  services/ui/utils/rest/op.py
Due: flake8, black, mypy, pylint

Fix
  services/ui/utils/rest/op.py
Due: flake8, black, mypy, pylint

vak-1573 used asyncio.wait_for.
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1573 fixed mistake of asyncio.wait_for.
  services/login/service.py
Due: flake8, black, mypy, pylint

noc-agent: Collector docs
  docs/en/docs/admin/reference/agent/collectors/block_io.md
  docs/en/docs/admin/reference/agent/collectors/cpu.md
  docs/en/docs/admin/reference/agent/collectors/dns.md
  docs/en/docs/admin/reference/agent/collectors/fs.md
  docs/en/docs/admin/reference/agent/collectors/index.md
  docs/en/docs/admin/reference/agent/collectors/memory.md
  docs/en/docs/admin/reference/agent/collectors/network.md
  docs/en/docs/admin/reference/agent/collectors/test.md
  docs/en/docs/admin/reference/agent/collectors/twamp_reflector.md
  docs/en/docs/admin/reference/agent/collectors/twamp_sender.md
  docs/en/docs/admin/reference/agent/collectors/uptime.md
  docs/en/docs/admin/reference/agent/index.md
  docs/en/mkdocs.yml
Due: prettier

Add Object, ResourceGroup and Service models to UI.
  services/ui/models/label.py
  services/ui/models/object.py
  services/ui/models/resourcegroup.py
  services/ui/models/service.py
  services/ui/models/utils.py
  services/ui/paths/administrativedomain.py
  services/ui/paths/object.py
  services/ui/paths/resourcegroup.py
  services/ui/paths/service.py
  services/ui/utils/ref.py
  services/ui/utils/rest/base.py
  services/ui/utils/rest/op.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
