Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Fix conditions
  ansible/noc_roles/correlator/tasks/checks.yml
  ansible/system_roles/liftbridge/tasks/checks.yml
Due: prettier

Fix
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix
  services/correlator/rcalock.py
Due: flake8, black, mypy, pylint

correlator: Distributed mode
  collections/fm.alarmclasses/NOC/Managed_Object/Ping_Failed.json
  config.py
  fm/handlers/alarm/status.py
  services/classifier/service.py
  services/correlator/rcalock.py
  services/correlator/service.py
Due: flake8, black, mypy, prettier, pylint

Remove leader_lock_name from correlator.
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Migrations
  commands/ensure-indexes.py
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

correlator: Sharded scheduler
  commands/ensure-indexes.py
  config.py
  fm/models/activealarm.py
  fm/models/alarmdiagnosticconfig.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix
  services/classifier/service.py
Due: flake8, black, mypy, pylint

fix_scheduler_shard
  fixes/fix_scheduler_shard.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix typo.
  fixes/fix_scheduler_shard.py
  services/correlator/service.py
Due: flake8, black, mypy, pylint

Fix migrate-liftbridge alter.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

Fix typo.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

Fix migrate-liftbridge.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

Fix liftbridge.
  commands/liftbridge.py
Due: flake8, black, mypy, pylint

Add typing to udpserver.
  core/ioloop/udpserver.py
  services/syslogcollector/syslogserver.py
  services/trapcollector/trapserver.py
Due: flake8, black, mypy, pylint

Fix socket.
  core/ioloop/udpserver.py
Due: flake8, black, mypy, pylint

Find by partial hostname on get_neighbor_by_hostname.
  services/discovery/jobs/base.py
  services/discovery/jobs/box/ifdesc.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint

Bump consul version
  ansible/vars/main.yml
Due: prettier

Bump consul
  ansible/vars/main.yml
Due: prettier

Enable addmonition plugin
  docs/en/docs/admin/config/index.md
  docs/en/mkdocs.yml
Due: prettier

mkdocs documentation
  .gitlab-ci.yml
  docs/en/docs/contributing.md
  docs/en/docs/howto/sharing-collections/apikey.png
  docs/en/docs/howto/sharing-collections/description.png
  docs/en/docs/howto/sharing-collections/index.md
  docs/en/docs/howto/sharing-collections/json.png
  docs/en/docs/howto/sharing-collections/json2.png
  docs/en/docs/howto/sharing-collections/mr.png
  docs/en/docs/index.md
  docs/en/docs/license.md
  docs/en/docs/releases/0.1.md
  docs/en/docs/releases/0.1rc1.md
  docs/en/docs/releases/0.1rc2.md
  docs/en/docs/structure.md
  docs/en/docs/style-guide.md
  docs/en/mkdocs.yml
Due: prettier

Additional structure
  docs/en/docs/admin/config/index.md
  docs/en/docs/api/datastream/address.md
  docs/en/docs/api/datastream/administrativedomain.md
  docs/en/docs/api/datastream/alarm.md
  docs/en/docs/api/datastream/cfgping.md
  docs/en/docs/api/datastream/cfgsyslog.md
  docs/en/docs/api/datastream/cfgtrap.md
  docs/en/docs/api/datastream/dnszone.md
  docs/en/docs/api/datastream/index.md
  docs/en/docs/api/datastream/managedobject.md
  docs/en/docs/api/datastream/prefix.md
  docs/en/docs/api/datastream/resourcegroup.md
  docs/en/docs/api/datastream/vrf.md
  docs/en/docs/reference/concepts/administrativedomain/index.md
  docs/en/docs/reference/concepts/apikey/edit_api.png
  docs/en/docs/reference/concepts/apikey/edit_api_acl.png
  docs/en/docs/reference/concepts/apikey/index.md
  docs/en/mkdocs.yml
Due: prettier

Fix
  docs/en/docs/admin/config/global.md
Due: none

Refined documentation structure
  docs/en/docs/dev/handlers/config-diff-filter.md
  docs/en/docs/dev/handlers/config-filter.md
  docs/en/docs/dev/handlers/window-function.md
  docs/en/docs/dev/modelinterface/airflow.md
  docs/en/docs/dev/modelinterface/asset.md
  docs/en/docs/dev/modelinterface/contacts.md
  docs/en/docs/dev/modelinterface/container.md
  docs/en/docs/dev/modelinterface/cpu.md
  docs/en/docs/dev/modelinterface/dimensions.md
  docs/en/docs/dev/modelinterface/geopint.md
  docs/en/docs/dev/modelinterface/length.md
  docs/en/docs/dev/modelinterface/management.md
  docs/en/docs/dev/modelinterface/optical.md
  docs/en/docs/dev/modelinterface/plan.md
  docs/en/docs/dev/modelinterface/pop.md
  docs/en/docs/dev/modelinterface/power.md
  docs/en/docs/dev/modelinterface/rack.md
  docs/en/docs/dev/modelinterface/rackmount.md
  docs/en/docs/dev/modelinterface/sector.md
  docs/en/docs/dev/modelinterface/splitter.md
  docs/en/docs/dev/modelinterface/stack.md
  docs/en/docs/dev/modelinterface/twinax.md
  docs/en/docs/dev/modelinterface/weight.md
  docs/en/docs/dev/objectmodel-tags.md
  docs/en/docs/dev/tools.md
  docs/en/mkdocs.yml
Due: prettier

Refined structure
  docs/en/docs/dev/modelinterface/airflow.md
  docs/en/docs/dev/tools.md
  docs/en/mkdocs.yml
Due: prettier

Refined documentation structure
  docs/en/docs/dev/confdb/fetching.md
  docs/en/docs/dev/confdb/normalizer.md
  docs/en/docs/dev/confdb/overview.md
  docs/en/docs/dev/confdb/pipeline.mermaid
  docs/en/docs/dev/confdb/pipeline.svg
  docs/en/docs/dev/confdb/query.md
  docs/en/docs/dev/confdb/storage.md
  docs/en/docs/dev/confdb/tokenizer.md
  docs/en/docs/dev/modelinterface/geopoint.md
  docs/en/mkdocs.yml
Due: prettier

docs internal-metrics header reformat
  docs/en/docs/admin/internal-metrics.md
Due: none

Refined documentation structure
  docs/en/docs/admin/services/activator.md
  docs/en/docs/admin/services/bi.md
  docs/en/docs/admin/services/card.md
  docs/en/docs/admin/services/chwriter.md
  docs/en/docs/admin/services/classifier.md
  docs/en/docs/admin/services/correlator.md
  docs/en/docs/admin/services/datasource.md
  docs/en/docs/admin/services/datastream.md
  docs/en/docs/admin/services/discovery.md
  docs/en/docs/admin/services/escalator.md
  docs/en/docs/admin/services/grafanads.md
  docs/en/docs/admin/services/icqsender.md
  docs/en/docs/admin/services/login.md
  docs/en/docs/admin/services/mailsender.md
  docs/en/docs/admin/services/mrt.md
  docs/en/docs/admin/services/nbi.md
  docs/en/docs/admin/services/ping.md
  docs/en/docs/admin/services/sae.md
  docs/en/docs/admin/services/scheduler.md
  docs/en/docs/admin/services/syslogcollector.md
  docs/en/docs/admin/services/tgsender.md
  docs/en/docs/admin/services/trapcollector.md
  docs/en/docs/admin/services/web.md
  docs/en/docs/dev/technology/Network/cgnat-termination.md
  docs/en/docs/dev/technology/group.md
  docs/en/docs/reference/concepts/resourcegroup/index.md
  docs/en/docs/reference/concepts/technology/index.md
  docs/en/mkdocs.yml
Due: prettier

docs internal-metrics reformat
  docs/en/docs/admin/internal-metrics.md
Due: none

admin config structure add files, corrections bi and global
  docs/en/docs/admin/config/bi.md
  docs/en/docs/admin/config/global.md
  docs/en/mkdocs.yml
Due: prettier

Added text to services, rst to md internal-metrics
  docs/en/docs/admin/config/clickhouse.md
  docs/en/docs/admin/config/global.md
  docs/en/docs/admin/config/initial.md
  docs/en/docs/admin/config/metrics.md
  docs/en/docs/admin/config/nbi.md
  docs/en/docs/admin/config/syslogcollector.md
  docs/en/docs/admin/config/web.md
  docs/en/docs/admin/internal-metrics.md
Due: none

Refine documentation structure
  docs/en/docs/admin/services/activator.md
  docs/en/docs/admin/services/bi.md
  docs/en/docs/admin/services/card.md
  docs/en/docs/admin/services/chwriter.md
  docs/en/docs/admin/services/classifier.md
  docs/en/docs/admin/services/correlator.md
  docs/en/docs/admin/services/datasource.md
  docs/en/docs/admin/services/datastream.md
  docs/en/docs/admin/services/discovery.md
  docs/en/docs/admin/services/escalator.md
  docs/en/docs/admin/services/grafanads.md
  docs/en/docs/admin/services/icqsender/chatbotid.png
  docs/en/docs/admin/services/icqsender/index.md
  docs/en/docs/admin/services/icqsender/metabot.png
  docs/en/docs/admin/services/icqsender/new_channel1.png
  docs/en/docs/admin/services/icqsender/new_channel2.png
  docs/en/docs/admin/services/icqsender/new_channel3.png
  docs/en/docs/admin/services/icqsender/notification1.png
  docs/en/docs/admin/services/icqsender/notification2.png
  docs/en/docs/admin/services/icqsender/notification3.png
  docs/en/docs/admin/services/icqsender/token.png
  docs/en/docs/admin/services/login.md
  docs/en/docs/admin/services/mailsender.md
  docs/en/docs/admin/services/mrt.md
  docs/en/docs/admin/services/nbi.md
  docs/en/docs/admin/services/ping.md
  docs/en/docs/admin/services/sae.md
  docs/en/docs/admin/services/scheduler.md
  docs/en/docs/admin/services/syslogcollector.md
  docs/en/docs/admin/services/tgsender.md
  docs/en/docs/admin/services/trapcollector.md
  docs/en/docs/admin/services/web.md
  docs/en/mkdocs.yml
Due: prettier
