Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Add Metrics Add Caps Change get_metrics
  collections/inv.capabilities/Network/DVBC.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Percent.json
  collections/pm.metrictypes/Multicast/Channel/Bandwidth/Used.json
  collections/pm.metrictypes/Multicast/Channel/Group/Count.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/In.json
  collections/pm.metrictypes/Multicast/Group/Bitrate/Out.json
  collections/pm.metrictypes/Multicast/Group/Status.json
  sa/profiles/Sumavision/IPQAM/get_capabilities.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

Add Doc and profile
  collections/sa.profiles/Sumavision/IPQAM.json
  docs/en/docs/user/reference/profiles/Sumavision/Sumavision.IPQAM.md
Due: prettier

Add profile check rule
  collections/sa.profilecheckrules/Sumavision/IPQAM/10K511N_sysObjectID.json
Due: prettier

FastAPIService: Customized validation errors
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

fix
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
Due: flake8, black, mypy, pylint

vak-1501 changed exception_handlers in FastAPIService.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

add metricscope
  collections/pm.metricscopes/Multicast.json
Due: prettier

vak-1501 deleted exceptions module.
  services/login/exceptions.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

vak-1501 fixed black's mistake.
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

Add grafana ddash
  services/web/apps/pm/ddash/dashboards/modvbc.py
  services/web/apps/pm/ddash/views.py
  templates/ddash/dash_modvbc.j2
  templates/ddash/dash_multicast.j2
  templates/ddash/graph_multicast_channel.j2
  templates/ddash/graph_multicast_group.j2
  templates/ddash/graph_multicast_group_bitrate.j2
Due: flake8, black, mypy, pylint

add decimal
  templates/ddash/graph_multicast_group_bitrate.j2
Due: none

fix ddash
  templates/ddash/graph_multicast_group.j2
Due: none

vak-1501 recreated exceptions module.
  core/service/fastapi.py
  services/login/exceptions.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

vak-1501 fixed flake's mistake.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

vak-1501 changed raise HTTPException -> return JSONResponse.
  core/service/fastapi.py
  services/login/exceptions.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

vak-1501 fixed flake's mistake.
  core/service/fastapi.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

Add Eltex.TAU.get_lldp_neighbors script
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/profile.py
Due: flake8, black, mypy, pylint

Fix
  sa/profiles/Eltex/TAU/get_capabilities.py
Due: flake8, black, mypy, pylint

vak-1501 changed StatusResponse -> StatusResponseError.
  services/login/models/status.py
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

vak-1501 repaired tests.
  services/login/paths/change_credentials.py
  services/login/paths/login.py
Due: flake8, black, mypy, pylint

vak-1501 renamed model from StatusResponseOk to StatusResponse.
  services/login/models/status.py
  services/login/paths/change_credentials.py
  services/login/paths/login.py
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

Add hostname to ManagedObject card.
  services/card/cards/managedobject.py
  services/card/templates/managedobject.html.j2
Due: flake8, black, mypy, pylint

IPQAM: Fix profile, ddash
  sa/profiles/Sumavision/IPQAM/get_interface_status_ex.py
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
  sa/profiles/Sumavision/IPQAM/get_metrics.py
  services/web/apps/pm/ddash/dashboards/modvbc.py
  templates/ddash/graph_multicast_channel.j2
  templates/ddash/graph_multicast_group.j2
Due: flake8, black, mypy, pylint

fix black add alarm class add event class add event class rule
  collections/fm.alarmclasses/Multicast/Frequency/Overflow.json
  collections/fm.eventclasses/Multicast/Frequency/Overflow.json
  collections/fm.eventclasses/Multicast/Frequency/Overflow_Resume.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Multicast/Frequency/Overflow_Resume_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Multicast/Frequency/Overflow_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Network/Link/Link_Down_SNMP.json
  collections/fm.eventclassificationrules/Sumavision/IPQAM/Network/Link/Link_Up_SNMP.json
  sa/profiles/Sumavision/IPQAM/get_interfaces.py
Due: flake8, black, mypy, prettier, pylint

Fix card template.
  services/card/templates/managedobject.html.j2
Due: none

Orion.NOS. Add get_fqdn script.
  sa/profiles/Orion/NOS/get_fqdn.py
Due: flake8, black, mypy, pylint

Fix flake.
  sa/profiles/Orion/NOS/get_fqdn.py
Due: flake8, black, mypy, pylint

fix flake8
  services/web/apps/pm/ddash/dashboards/modvbc.py
Due: flake8, black, mypy, pylint

Eltex.MES. Fix confdb untagged vlan fix.
  sa/profiles/Eltex/MES/confdb/normalizer.py
Due: flake8, black, mypy, pylint

Add tests.
  tests/confdb/profiles/Eltex/MES/interface_switchport_1.yml
Due: prettier

ZTE.ZXR10. Fixes for 2928E V2.05.10B26.
  sa/profiles/ZTE/ZXR10/get_capabilities.py
  sa/profiles/ZTE/ZXR10/get_chassis_id.py
  sa/profiles/ZTE/ZXR10/get_fqdn.py
  sa/profiles/ZTE/ZXR10/get_interfaces.py
  sa/profiles/ZTE/ZXR10/get_lldp_neighbors.py
  sa/profiles/ZTE/ZXR10/get_version.py
  sa/profiles/ZTE/ZXR10/profile.py
Due: flake8, black, mypy, pylint

Fix flake.
  sa/profiles/ZTE/ZXR10/get_interfaces.py
  sa/profiles/ZTE/ZXR10/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint

Merge branch 'fix-avs-inject-event' into 'master'
  commands/inject-event.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint

Add dgs-1500-20
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS-1500-20.json
Due: prettier

Add des-1210-52p
  collections/sa.profilecheckrules/DLink/DxS_Smart/DES-1210-52P.json
Due: prettier

Fix flake
  commands/inject-event.py
  services/web/apps/fm/event/views.py
Due: flake8, black, mypy, pylint

Update collections/sa.profilecheckrules/DLink/DxS_Smart/DES_1210_52P.json, collections/sa.profilecheckrules/DLink/DxS_Smart/DGS_1500_20.json files
  collections/sa.profilecheckrules/DLink/DxS_Smart/DES_1210_52P.json
  collections/sa.profilecheckrules/DLink/DxS_Smart/DGS_1500_20.json
Due: prettier

Add des_1210_52_c1
  collections/sa.profilecheckrules/DLink/DxS_Smart/DES_1210_52_c1.json
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
