Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

vak-1446 solution of issue before testing.
  fm/models/activealarm.py
  fm/models/archivedalarm.py
Due: flake8, black, mypy, pylint

vak-1446 fixed black's mistake.
  fm/models/activealarm.py
Due: flake8, black, mypy, pylint

vak-1446 fixed flake8's mistake.
  fm/models/activealarm.py
Due: flake8, black, mypy, pylint

vak-1446 changed type of tags fields.
  fm/models/activealarm.py
  fm/models/archivedalarm.py
Due: flake8, black, mypy, pylint

vak-1446 fixed balck's mistake.
  fm/models/activealarm.py
Due: flake8, black, mypy, pylint

Fix runtime go
  .gitlab-ci.yml
Due: prettier

vak-1446 added checking about value None.
  fm/models/activealarm.py
Due: flake8, black, mypy, pylint

add_metrics Eltex.TAU
  sa/profiles/Eltex/TAU/get_capabilities.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/snmp_metrics/environment_status.json
  sa/profiles/Eltex/TAU/snmp_metrics/environment_temperature.json
Due: flake8, black, mypy, prettier, pylint

Liftbridge: Message autocompression
  config.py
  core/compressor/util.py
  core/liftbridge/base.py
  core/service/base.py
Due: flake8, black, mypy, pylint

Fix compressor header encoder.
  core/compressor/loader.py
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Fix typo.
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Add `tunnel` type to Huawei.MA5600T.get_interfaces script
  sa/profiles/Huawei/MA5600T/get_interfaces.py
  sa/profiles/Huawei/MA5600T/profile.py
Due: flake8, black, mypy, pylint

vak-1446 alarm.tags -> datastream
  services/datastream/streams/alarm.py
Due: flake8, black, mypy, pylint

Fix
  sa/profiles/Huawei/MA5600T/get_interfaces.py
Due: flake8, black, mypy, pylint

Fix GeoCoderResult defaults optional value.
  core/geocoder/base.py
Due: flake8, black, mypy, pylint

Fix flake.
  core/geocoder/base.py
Due: flake8, black, mypy, pylint

vak-1446 alarm.tags -> docs
  docs/en/docs/dev/reference/api/datastream/alarm.md
Due: none

Fix runtime go
  .gitlab-ci.yml
  ansible/.ansible-ci.yml
Due: prettier

Add condition
  .gitlab-ci.yml
Due: prettier

text fix
  ui/web/maintenance/maintenance/ObjectsStore.js
Due: prettier, build:web

vak-1446 alarm.tags -> docs.en.docs.user.mx.alarm.md
  docs/en/docs/user/reference/mx/alarm.md
Due: none

fix query
  lib/app/extdocapplication.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

Fix condition
  .gitlab-ci.yml
  ansible/.ansible-ci.yml
Due: prettier

fix flake8
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

Fix condition of deploy jobs
  ansible/.ansible-ci.yml
Due: prettier

Add migration
  maintenance/migrations/0002_auto_confirm.py
Due: flake8, black, mypy, pylint

Fix function
  maintenance/migrations/0002_auto_confirm.py
Due: flake8, black, mypy, pylint

ADd if: '$CI_PIPELINE_SOURCE == "merge_request_event"' string
  .gitlab-ci.yml
Due: prettier

ADd if: '$CI_PIPELINE_SOURCE == "merge_request_event"' string to ansible too
  ansible/.ansible-ci.yml
Due: prettier

Fix var naming
  .gitlab-ci.yml
  ansible/.ansible-ci.yml
Due: prettier

Fix env
  ansible/.ansible-ci.yml
Due: prettier

Fix var naming
  ansible/.ansible-ci.yml
Due: prettier

Fix condition
  ansible/.ansible-ci.yml
Due: prettier

Fix condition 2
  ansible/.ansible-ci.yml
Due: prettier

Don't run tests on night docker build
  .gitlab-ci.yml
Due: prettier

Fix condition
  .gitlab-ci.yml
Due: prettier

Improved geo address search
  inv/models/object.py
  services/web/apps/gis/geocoder/views.py
  services/web/apps/sa/managedobject/views.py
  ui/web/core/modelfilter/GeoAddress.js
  ui/web/css/extjs.css
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  core/geocoder/base.py
  inv/models/object.py
  services/web/apps/gis/geocoder/views.py
  services/web/apps/sa/managedobject/views.py
  ui/web/core/modelfilter/GeoAddress.js
  ui/web/css/extjs.css
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  inv/models/object.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
