Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Restore default pallete
  docs/en/docs/glossary.md
  docs/en/mkdocs.yml
Due: prettier

Demermadization of network-segment
  docs/en/docs/reference/concepts/network-segment/example-forest.mermaid
  docs/en/docs/reference/concepts/network-segment/example-forest.svg
  docs/en/docs/reference/concepts/network-segment/example-horizontal-transit.mermaid
  docs/en/docs/reference/concepts/network-segment/example-horizontal-transit.svg
  docs/en/docs/reference/concepts/network-segment/example-map-1.mermaid
  docs/en/docs/reference/concepts/network-segment/example-map-1.svg
  docs/en/docs/reference/concepts/network-segment/example-map-2.mermaid
  docs/en/docs/reference/concepts/network-segment/example-map-2.svg
  docs/en/docs/reference/concepts/network-segment/example-mesh.mermaid
  docs/en/docs/reference/concepts/network-segment/example-mesh.svg
  docs/en/docs/reference/concepts/network-segment/example-push.mermaid
  docs/en/docs/reference/concepts/network-segment/example-push.svg
  docs/en/docs/reference/concepts/network-segment/example-ring-1.mermaid
  docs/en/docs/reference/concepts/network-segment/example-ring-1.svg
  docs/en/docs/reference/concepts/network-segment/example-ring-2.mermaid
  docs/en/docs/reference/concepts/network-segment/example-ring-2.svg
  docs/en/docs/reference/concepts/network-segment/example-ring-3.mermaid
  docs/en/docs/reference/concepts/network-segment/example-ring-3.svg
  docs/en/docs/reference/concepts/network-segment/example-sibling-1.mermaid
  docs/en/docs/reference/concepts/network-segment/example-sibling-1.svg
  docs/en/docs/reference/concepts/network-segment/example-sibling-2.mermaid
  docs/en/docs/reference/concepts/network-segment/example-sibling-2.svg
  docs/en/docs/reference/concepts/network-segment/example-tree-1.mermaid
  docs/en/docs/reference/concepts/network-segment/example-tree-1.svg
  docs/en/docs/reference/concepts/network-segment/example-tree-2.mermaid
  docs/en/docs/reference/concepts/network-segment/example-tree-2.svg
  docs/en/docs/reference/concepts/network-segment/example-vlan-domain.mermaid
  docs/en/docs/reference/concepts/network-segment/example-vlan-domain.svg
  docs/en/docs/reference/concepts/network-segment/example-vlan-translation.mermaid
  docs/en/docs/reference/concepts/network-segment/example-vlan-translation.svg
  docs/en/docs/reference/concepts/network-segment/index.md
Due: none

mermaid-to-svg tool
  docs/README.md
  docs/en/docs/reference/concepts/administrative-domain/example1.svg
  docs/en/docs/reference/concepts/administrative-domain/example2.svg
  docs/en/docs/reference/concepts/administrative-domain/functional.svg
  docs/en/docs/reference/concepts/administrative-domain/functionalregional.svg
  docs/en/docs/reference/concepts/administrative-domain/regional1.svg
  docs/en/docs/reference/concepts/administrative-domain/regional3.svg
  docs/en/docs/reference/concepts/administrative-domain/regionalfunctional.svg
  docs/en/docs/reference/concepts/administrative-domain/single.svg
  docs/en/docs/reference/concepts/network-segment/example-hier.svg
  docs/en/mkdocs.yml
  docs/requirements.txt
  docs/scripts/build-auto-include.py
  docs/scripts/build-go.py
  docs/scripts/table-format.py
  docs/tools/mermaid-to-svg
  docs/tools/puppeteer.json
Due: flake8, black, mypy, prettier, pylint

Glossary and slate pallete
  docs/en/docs/_static/logo.svg
  docs/en/docs/glossary.md
  docs/en/mkdocs.yml
  docs/src/en/_static/css/custom.css
  docs/src/en/_templates/layout.html
  docs/src/en/glossary.rst
Due: prettier

Demermadization of network-segment-profile
  docs/en/docs/reference/concepts/network-segment-profile/example-hier.mermaid
  docs/en/docs/reference/concepts/network-segment-profile/example-hier.svg
  docs/en/docs/reference/concepts/network-segment-profile/index.md
Due: none

Remove empty merm text
  docs/en/docs/reference/concepts/network-segment-profile/index.md
Due: none

Fix tests
  .gitlab-ci.yml
  tests/docs/test_profile.py
Due: flake8, black, mypy, prettier, pylint

fix view.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: flake8, black, mypy, prettier, pylint, build:web

# Conflicts: # ui/web/maintenance/maintenance/ObjectsPanel.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: prettier, build:web

Update ObjectPanel
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: prettier, build:web

fix conflict
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: prettier, build:web

Add consul https limits
  ansible/system_roles/consul/templates/config_bootstrap.json.j2
  ansible/system_roles/consul/templates/config_server.json.j2
Due: none

Disable check temporarily
  .gitlab-ci.yml
Due: prettier

fix view.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

Clean up formatting
  docs/en/docs/dev/bi/dict/administrativedomain.md
  docs/en/docs/dev/bi/dict/alarmclass.md
  docs/en/docs/dev/bi/dict/container.md
  docs/en/docs/dev/bi/dict/interfacedescription.md
  docs/en/docs/dev/bi/dict/interfaceprofile.md
  docs/en/docs/dev/bi/dict/managedobject.md
  docs/en/docs/dev/bi/dict/networksegment.md
  docs/en/docs/dev/bi/dict/platform.md
  docs/en/docs/dev/bi/dict/pool.md
  docs/en/docs/dev/bi/dict/profile.md
  docs/en/docs/dev/bi/dict/vendor.md
  docs/en/docs/dev/bi/dict/version.md
  docs/en/docs/dev/bi/model/alarms.md
  docs/en/docs/dev/bi/model/mac.md
  docs/en/docs/dev/bi/model/managedobjects.md
  docs/en/docs/dev/bi/model/reboots.md
  docs/en/docs/dev/bi/model/routingneighbors.md
  docs/en/docs/dev/bi/model/span.md
Due: none

Fix handlers.
  docs/en/docs/dev/handlers/config-diff-filter.md
  docs/en/docs/dev/handlers/config-filter.md
  docs/en/docs/dev/handlers/window-function.md
Due: none

Replace TODO on discovoery docs.
  docs/en/docs/admin/discovery/as/prefix.md
  docs/en/docs/admin/discovery/box/asset.md
  docs/en/docs/admin/discovery/box/bfd.md
  docs/en/docs/admin/discovery/box/caps.md
  docs/en/docs/admin/discovery/box/cdp.md
  docs/en/docs/admin/discovery/box/config.md
  docs/en/docs/admin/discovery/box/cpe.md
  docs/en/docs/admin/discovery/box/fdp.md
  docs/en/docs/admin/discovery/box/hk.md
  docs/en/docs/admin/discovery/box/huawei_ndp.md
  docs/en/docs/admin/discovery/box/id.md
  docs/en/docs/admin/discovery/box/interface.md
  docs/en/docs/admin/discovery/box/lacp.md
  docs/en/docs/admin/discovery/box/lldp.md
  docs/en/docs/admin/discovery/box/nri.md
  docs/en/docs/admin/discovery/box/oam.md
  docs/en/docs/admin/discovery/box/profile.md
  docs/en/docs/admin/discovery/box/rep.md
  docs/en/docs/admin/discovery/box/segmentation.md
  docs/en/docs/admin/discovery/box/sla.md
  docs/en/docs/admin/discovery/box/stp.md
  docs/en/docs/admin/discovery/box/suggestcli.md
  docs/en/docs/admin/discovery/box/suggestsnmp.md
  docs/en/docs/admin/discovery/box/udld.md
  docs/en/docs/admin/discovery/box/version.md
  docs/en/docs/admin/discovery/box/vlan.md
  docs/en/docs/admin/discovery/box/vrf.md
  docs/en/docs/admin/discovery/periodic/cpestatus.md
  docs/en/docs/admin/discovery/periodic/interfacestatus.md
  docs/en/docs/admin/discovery/periodic/mac.md
  docs/en/docs/admin/discovery/periodic/metrics.md
  docs/en/docs/admin/discovery/periodic/uptime.md
  docs/en/docs/admin/discovery/segment/mac.md
  docs/en/docs/dev/api/datastream/vrf.md
  docs/en/docs/reference/concepts/workflow/index.md
  docs/en/docs/structure.md
Due: none

Clean DataStream API formatting
  docs/en/docs/dev/api/datastream/address.md
  docs/en/docs/dev/api/datastream/administrativedomain.md
  docs/en/docs/dev/api/datastream/alarm.md
  docs/en/docs/dev/api/datastream/cfgping.md
  docs/en/docs/dev/api/datastream/cfgsyslog.md
  docs/en/docs/dev/api/datastream/cfgtrap.md
  docs/en/docs/dev/api/datastream/dnszone.md
  docs/en/docs/dev/api/datastream/index.md
  docs/en/docs/dev/api/datastream/managedobject.md
  docs/en/docs/dev/api/datastream/prefix.md
  docs/en/docs/dev/api/datastream/resourcegroup.md
  docs/en/docs/dev/api/datastream/vrf.md
Due: none

Reformat ModelInterface docs.
  docs/en/docs/dev/modelinterface/asset.md
  docs/en/docs/dev/modelinterface/contacts.md
  docs/en/docs/dev/modelinterface/container.md
  docs/en/docs/dev/modelinterface/cpu.md
  docs/en/docs/dev/modelinterface/dimensions.md
  docs/en/docs/dev/modelinterface/geopoint.md
  docs/en/docs/dev/modelinterface/length.md
  docs/en/docs/dev/modelinterface/management.md
  docs/en/docs/dev/modelinterface/optical.md
  docs/en/docs/dev/modelinterface/plan.md
  docs/en/docs/dev/modelinterface/pop.md
  docs/en/docs/dev/modelinterface/power.md
  docs/en/docs/dev/modelinterface/rack.md
  docs/en/docs/dev/modelinterface/rackmount.md
  docs/en/docs/dev/modelinterface/sector.md
  docs/en/docs/dev/modelinterface/splitter.md
  docs/en/docs/dev/modelinterface/stack.md
  docs/en/docs/dev/modelinterface/twinax.md
  docs/en/docs/dev/modelinterface/weight.md
Due: none

NBI Config doc
  docs/en/docs/dev/api/nbi/config.md
Due: none

Add correlator backup and slots
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian9/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/ubuntu16/inv.yml
  ansible/molecule/ubuntu18/inv.yml
  ansible/noc_roles/correlator/meta/tower.yml
  ansible/noc_roles/migrate/tasks/configure_consul.yml
Due: prettier

fix lint
  ansible/noc_roles/migrate/tasks/configure_consul.yml
Due: prettier

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
