Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

fix default value
  ui/web/maintenance/maintenance/Model.js
Due: prettier, build:web

fix inv.map
  maintenance/models/maintenance.py
  services/escalator/maintenance.py
  services/web/apps/inv/map/views.py
Due: flake8, black, mypy, pylint

Fix revert
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix cards
  services/card/cards/managedobject.py
  services/card/cards/service.py
Due: flake8, black, mypy, pylint

add fast view alarm
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, pylint

Add migrate Change view affected objects
  maintenance/migrations/0003_affected_objects_migrate.py
  maintenance/models/maintenance.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

fix
  ui/web/maintenance/maintenance/Model.js
Due: prettier, build:web

add defer for Django Models
  lib/app/extapplication.py
Due: flake8, black, mypy, pylint

Fix class name AffectedObjects
  maintenance/models/maintenance.py
  services/card/cards/alarm.py
  services/card/cards/maintenance.py
  services/card/cards/managedobject.py
  services/card/cards/service.py
  services/web/apps/fm/alarm/views.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

change default auto_confirm
  maintenance/models/maintenance.py
  ui/web/maintenance/maintenance/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

add exclude_fields
  lib/app/extapplication.py
Due: flake8, black, mypy, pylint

Add AffectedObjects class If Maintanence complited, objects removed from AffectedObjects Collections
  lib/app/extapplication.py
  maintenance/models/maintenance.py
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

fix comments
  lib/app/extapplication.py
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix alarm card
  maintenance/models/maintenance.py
  services/card/cards/alarm.py
Due: flake8, black, mypy, pylint

fix model
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix maintenance card
  services/card/cards/maintenance.py
Due: flake8, black, mypy, pylint

fix alarm view
  maintenance/models/maintenance.py
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, pylint

remove "print"
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

fix view
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, pylint

fix low load interface and traceback
  services/card/cards/maintenance.py
  services/card/cards/managedobject.py
  services/card/templates/maintenance.html.j2
Due: flake8, black, mypy, pylint

fix
  services/card/cards/maintenance.py
Due: flake8, black, mypy, pylint

fix black
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix indexes
  maintenance/models/maintenance.py
  models.py
Due: flake8, black, mypy, pylint

fix view archived alarm
  services/web/apps/fm/alarm/views.py
Due: flake8, black, mypy, pylint

add on_delete_check
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

on_delete
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

service-ping-start changed type of var.
  core/service/base.py
Due: flake8, black, mypy, pylint

fix on_delete
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

fix on_delete_check
  maintenance/models/maintenance.py
Due: flake8, black, mypy, pylint

service-ping-start changed type param key of func register_metrics.
  core/service/base.py
Due: flake8, black, mypy, pylint

vak-ping TornadoService -> FastAPIService
  core/service/base.py
  services/ping/service.py
Due: flake8, black, mypy, pylint

noc-agent: Refactoring, Replace Collector generic with traits and macro
  rust/agent/Cargo.toml
  rust/agent/libs/agent-derive/Cargo.toml
  rust/agent/libs/agent-derive/src/lib.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/dns/config.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/registry.rs
  rust/agent/src/collectors/test/collector.rs
  rust/agent/src/collectors/test/config.rs
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/collectors/twamp_reflector/config.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/collectors/twamp_sender/config.rs
  rust/agent/src/zk.rs
Due: build:rust

Fix
  .gitlab-ci.yml
  rust/agent/src/collectors/registry.rs
Due: prettier, build:rust

Remove clone
  rust/agent/src/collectors/twamp_sender/collector.rs
Due: build:rust

Fix graph pane.
  templates/ddash/graph_cpu_load_1min.j2
  templates/ddash/graph_cpu_load_5min.j2
  templates/ddash/graph_cpu_usage.j2
  templates/ddash/graph_sensor_battery_capacity_level.j2
  templates/ddash/graph_sensor_electric_current.j2
  templates/ddash/graph_sensor_power.j2
  templates/ddash/graph_sensor_pulse.j2
  templates/ddash/graph_sensor_status.j2
  templates/ddash/graph_sensor_temperature.j2
  templates/ddash/graph_sensor_voltage.j2
  templates/ddash/panel_battery_capacity_level.j2
  templates/ddash/panel_energy_consumption.j2
  templates/ddash/panel_errors.j2
  templates/ddash/panel_power_input_status.j2
  templates/ddash/panel_pulse.j2
  templates/ddash/row_errors.j2
Due: none

add_objectmodels_qsw5
  collections/inv.objectmodels/Qtech/QSW/QSW-3750-10T-POE-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3750-28T-POE-AC.json
Due: prettier

Update collections/inv.objectmodels/Qtech/QSW/QSW-3470-28T-POE-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3470-28T-POE-AC.json
Due: prettier

service-ping-start moving transform key param into services/ping/service.py.
  core/service/base.py
  services/ping/service.py
Due: flake8, black, mypy, pylint

Add Label.get_effective_setting for wildard settings check.
  main/models/label.py
Due: flake8, black, mypy, pylint
