Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

extra params fixed
  ui/web/core/ComboBox.js
Due: prettier, build:web

fix metric
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

Add migrations
  pm/migrations/0011_migrate_handlers.py
Due: flake8, black, mypy, pylint

TP: Update handlers view
  main/models/handler.py
  pm/models/thresholdprofile.py
  services/discovery/jobs/periodic/metrics.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/pm/thresholdprofile/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

fix migration
  pm/migrations/0011_migrate_handlers.py
Due: flake8, black, mypy, pylint

fix black
  main/models/handler.py
Due: flake8, black, mypy, pylint

fix logger text
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

vak-1526 added asyncio.wait_for
  services/login/service.py
Due: flake8, black, mypy, pylint

extra params added
  ui/web/core/LabelField.js
Due: prettier, build:web

Clean content_type for parameter.
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

Add Remote Object and multiple scope info to Object data plugin.
  services/web/apps/inv/inv/plugins/data.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/inv/inv/plugins/data.py
Due: flake8, black, mypy, pylint

@Label.model decorator
  main/models/label.py
  tests/models/test_main_label.py
Due: flake8, black, mypy, pylint

Fix typo.
  main/models/label.py
Due: flake8, black, mypy, pylint

Fix path.
  main/models/label.py
  pm/models/metricscope.py
Due: flake8, black, mypy, pylint

Fix interface scope.
  collections/pm.metricscopes/Interface.json
  pm/models/metricscope.py
Due: flake8, black, mypy, prettier, pylint

Add Object to key_fields
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/Environment.json
  collections/pm.metricscopes/Interface.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Multicast.json
  collections/pm.metricscopes/Object.json
  collections/pm.metricscopes/PhonePeer.json
  collections/pm.metricscopes/SLA.json
  collections/pm.metricscopes/Subscriber.json
  collections/pm.metricscopes/VPN.json
Due: prettier

Fix document instance
  main/models/label.py
Due: flake8, black, mypy, pylint

fm.event filters fixed
  ui/web/fm/event/Application.js
Due: prettier, build:web

vak-1526 changed type of start_timestamp param (int -> float).
  core/liftbridge/base.py
  core/liftbridge/message.py
  core/service/base.py
  services/login/service.py
Due: flake8, black, mypy, pylint

Add can_set_label and can_expose_label method to check label.
  main/models/label.py
Due: flake8, black, mypy, pylint

Fix flake.
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1526 merged from master
  core/liftbridge/message.py
Due: flake8, black, mypy, pylint

vak-1526 fixed mistakes noted in discussion.
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1526 changed type returning value func revoke_token.
  services/login/paths/revoke.py
  services/login/service.py
Due: flake8, black, mypy, pylint

Add Prointech vendor
  collections/inv.vendors/PROINTECH.json
Due: prettier

Additional code to FANG HANG
  collections/inv.vendors/FANGHANG.json
Due: prettier

Script documentation auto cross-references
  docs/en/docs/dev/reference/scripts/get_interfaces.md
  docs/en/docs/dev/reference/scripts/index.md
  docs/en/macros.py
Due: flake8, black, mypy, pylint

vak-1526 changed returning type func value.
  services/login/paths/revoke.py
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1526 fixed flake's mistakes.
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

vak-1526 changed timeout.
  services/login/service.py
Due: flake8, black, mypy, pylint

Add discovery reference to scripts
  docs/en/docs/dev/reference/scripts/get_bfd_sessions.md
  docs/en/docs/dev/reference/scripts/get_capabilities.md
  docs/en/docs/dev/reference/scripts/get_cdp_neighbors.md
  docs/en/docs/dev/reference/scripts/get_chassis_id.md
  docs/en/docs/dev/reference/scripts/get_config.md
  docs/en/docs/dev/reference/scripts/get_discovery_id.md
  docs/en/docs/dev/reference/scripts/get_fqdn.md
  docs/en/docs/dev/reference/scripts/get_interfaces.md
  docs/en/docs/dev/reference/scripts/get_lacp_neighbors.md
  docs/en/docs/dev/reference/scripts/get_lldp_neighbors.md
  docs/en/docs/dev/reference/scripts/get_portchannel.md
  docs/en/docs/dev/reference/scripts/get_rep_topology.md
  docs/en/docs/dev/reference/scripts/get_sla_probes.md
  docs/en/docs/dev/reference/scripts/get_udld_neighbors.md
  docs/en/docs/dev/reference/scripts/get_uptime.md
  docs/en/docs/dev/reference/scripts/get_version.md
Due: none

Fix path to scripts docs
  docs/en/macros.py
Due: flake8, black, mypy, pylint

noc/noc#1527
  ui/web/js/util.js
  ui/web/ux/form/GridField.js
  ui/web/ux/form/JSONField.js
Due: prettier, build:web

fix_get_lldp_neighbors_SKS.SKS
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint

Fix path
  docs/en/macros.py
Due: flake8, black, mypy, pylint

Fix typo
  docs/en/docs/user/reference/profiles/Eltex/Eltex.LTE.md
  docs/en/docs/user/reference/profiles/Eltex/Eltex.TAU.md
  docs/en/docs/user/reference/profiles/Qtech/Qtech.QFC.md
Due: none

Revert uvicorn to 0.13.3
  requirements.txt
Due: gemnasium-python-dependency_scanning
