Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Hide trigger
  ui/web/core/modelfilter/GeoAddress.js
Due: prettier, build:web

vak-1447 Bearer authorization was repaired.
  services/login/paths/auth.py
Due: flake8, black, mypy, pylint

vak-1447 added if-else block.
  services/login/paths/auth.py
Due: flake8, black, mypy, pylint

Fix ThresholdProfile
  models.py
Due: flake8, black, mypy, pylint

Update get_metrics.py
  sa/profiles/Eltex/TAU/get_metrics.py
Due: flake8, black, mypy, pylint

login. Always 401.
  services/login/paths/auth.py
Due: flake8, black, mypy, pylint

Cable Abduct Detection
  collections/fm.alarmclasses/Security/Abduct/Cable_Abduct.json
  collections/fm.eventclasses/Security/Abduct/Cable_Abduct.json
  docs/en/docs/user/reference/alarm-classes/security/abduct/cable-abduct.md
  docs/en/docs/user/reference/event-classes/security/abduct/cable-abduct.md
  docs/en/mkdocs.yml
  fm/handlers/event/link.py
  fm/models/activeevent.py
  inv/models/interfaceprofile.py
  sa/migrations/0212_managedobjectprofile_cable_abduction.py
  sa/models/managedobjectprofile.py
  services/classifier/abdetector.py
  services/classifier/service.py
  ui/web/inv/interfaceprofile/Application.js
  ui/web/inv/interfaceprofile/Model.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  services/classifier/service.py
Due: flake8, black, mypy, pylint

fix code
  fm/handlers/thresholds/iface.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, pylint

Fix check_link_event after event_handlers
  services/classifier/service.py
Due: flake8, black, mypy, pylint

Add crossing_proposals API.
  inv/models/object.py
  services/web/apps/inv/inv/views.py
Due: flake8, black, mypy, pylint

Add API connect.
  services/web/apps/inv/inv/views.py
Due: flake8, black, mypy, pylint

Add cable to api_get_crossing_proposals.
  services/web/apps/inv/inv/views.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/inv/inv/views.py
Due: flake8, black, mypy, pylint

UI initial commit
  ui/web/core/Pin.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/inventory/InventoryPanel.js
Due: prettier, build:web

clean trigger added, logic for recalculating slot selection changed
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/inv/inv/CreateConnectionForm.js
Due: prettier, build:web

Add cable_filter check.
  inv/models/object.py
  inv/models/objectmodel.py
  services/web/apps/inv/inv/views.py
Due: flake8, black, mypy, pylint

Fix tests.
  scripts/check-labels.py
Due: flake8, black, mypy, pylint

Check test.
  scripts/check-labels.py
Due: flake8, black, mypy, pylint

Fix flake.
  inv/models/object.py
  inv/models/objectmodel.py
Due: flake8, black, mypy, pylint

Add RCA
  collections/fm.alarmclasses/Network/Link/Link_Down.json
Due: prettier

Update Eltex.SMG profile
  collections/sa.profiles/Eltex/SMG.json
  sa/profiles/Eltex/SMG/get_version.py
Due: flake8, black, mypy, prettier, pylint

Fix
  docs/en/docs/user/reference/profiles/Eltex/Eltex.SMG.md
Due: none

Add timeout cause yandex.cloud sucks
  ansible/molecule/yc/templates/template.tf
Due: none

Fix
  ansible/molecule/yc/templates/template.tf
Due: none

Add timeouts to tf on ya.cloud
  ansible/molecule/yc/templates/template.tf
Due: none

Fix ansible_distribution_major_version
  ansible/deploy.yml
  ansible/noc_roles/migrate/service.yml
  ansible/noc_roles/noc/service.yml
  ansible/pre.yml
  ansible/system_roles/clickhouse/service.yml
  ansible/system_roles/consul-template/service.yml
  ansible/system_roles/consul/service.yml
  ansible/system_roles/consul/tasks/service_config_set.yml
  ansible/system_roles/consul/tasks/service_config_update.yml
  ansible/system_roles/goss/service.yml
  ansible/system_roles/grafana/service.yml
  ansible/system_roles/liftbridge/service.yml
  ansible/system_roles/mongod/service.yml
  ansible/system_roles/nats/service.yml
  ansible/system_roles/nginx/service.yml
  ansible/system_roles/nsqd/service.yml
  ansible/system_roles/nsqlookupd/service.yml
  ansible/system_roles/postgres/service.yml
Due: prettier

Fix hardcore
  ansible/system_roles/mongod/tasks/os/CentOS_7/main.yml
  ansible/system_roles/mongod/tasks/os/OracleLinux_7/main.yml
  ansible/system_roles/mongod/tasks/os/RedHat_7/arbiter.yml
  ansible/system_roles/mongod/tasks/os/RedHat_7/main.yml
Due: prettier

Fix hardcore
  ansible/system_roles/mongod/tasks/os/Debian_10/main.yml
  ansible/system_roles/mongod/tasks/os/Debian_9/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_16/arbiter.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_16/main.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/arbiter.yml
  ansible/system_roles/mongod/tasks/os/Ubuntu_18/main.yml
Due: prettier

Fix hardcore
  ansible/noc_roles/noc/templates/noc.goss.yml.j2
Due: none

vak-1465 cleaning ds_alarm before cleaning alarms.archived
  core/etl/bi/extractor/alarms.py
Due: flake8, black, mypy, pylint

vak-1465 fixed flake's mistakes.
  core/etl/bi/extractor/alarms.py
Due: flake8, black, mypy, pylint

vak-1465 added datastream-retention-policy command.
  commands/datastream-retention-policy.py
  config.py
Due: flake8, black, mypy, pylint

vak-1465 added cleaning of DataStream into datastream command.
  commands/datastream.py
Due: flake8, black, mypy, pylint

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
