Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Add 1210_28_c1
  collections/sa.profilecheckrules/DLink/DxS_Smart/DES_1210_28_C1.json
Due: prettier

Add dxs_1210_10tc
  collections/sa.profilecheckrules/DLink/DxS_Smart/DXS_1210_10TC.json
Due: prettier

Revert fix for pre grpc 1.35
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Fix flake.
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Bump grpc to 1.35.
  requirements.txt
Due: gemnasium-python-dependency_scanning

Fix deadlock when Discovery import ActiveAlarm from umbrella.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/discovery/jobs/base.py
Due: flake8, black, mypy, pylint

noc-fastapi-validation-error changed error message text.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

noc-fastapi-validation-error fixed flake's mistake.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

noc-fastapi-validation-error added error_description to error answer.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

noc-fastapi-validation-error fixed blake's mistake.
  core/service/fastapi.py
Due: flake8, black, mypy, pylint

add_metrics_Tail_Drop_Eltex.MES
  sa/profiles/Eltex/MES/get_metrics.py
Due: flake8, black, mypy, pylint

Additional metrics to interface queue.
  collections/inv.capabilities/Metrics/qos_statistics.json
  collections/pm.metrictypes/Interface/QOS/Discards/ In_Delta.json
  collections/pm.metrictypes/Interface/QOS/Discards/ Out_Delta.json
  collections/pm.metrictypes/Interface/QOS/Octets/In.json
  collections/pm.metrictypes/Interface/QOS/Octets/Out.json
  collections/pm.metrictypes/Interface/QOS/Packets/In.json
  collections/pm.metrictypes/Interface/QOS/Packets/Out.json
  sa/profiles/Eltex/MES/get_capabilities.py
  sa/profiles/Eltex/MES/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

vak-1501 added error_description into error messages.
  services/login/models/status.py
  services/login/paths/revoke.py
  services/login/paths/token.py
Due: flake8, black, mypy, pylint

fix metrics2 "Subscribers | Summary" Alcatel.TIMOS
  sa/profiles/Alcatel/TIMOS/get_capabilities.py
  sa/profiles/Alcatel/TIMOS/get_metrics.py
Due: flake8, black, mypy, pylint

Update get_capabilities.py
  sa/profiles/Alcatel/TIMOS/get_capabilities.py
Due: flake8, black, mypy, pylint

fix metrics_subscribers Juniper.Junos
  collections/inv.capabilities/Metrics/subscribers.json
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

Update subscribers.json
  collections/inv.capabilities/Metrics/subscribers.json
Due: prettier

initial commit
  ui/web/css/extjs.css
  ui/web/css/images/form/trigger-tpl.gif
  ui/web/fm/alarm/view/grids/Lookup.js
  ui/web/main/desktop/Application.js
Due: prettier, build:web

Add Liftbridge retention config.
  commands/migrate-liftbridge.py
  config.py
  core/config/params.py
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Fix flake.
  commands/migrate-liftbridge.py
Due: flake8, black, mypy, pylint

Add test.
  tests/test_config.py
Due: flake8, black, mypy, pylint

noc-agent: Rust implementation
  .gitlab-ci.yml
  rust/Cargo.toml
  rust/agent/Cargo.toml
  rust/agent/benches/twamp_benchmark.rs
  rust/agent/src/agent.rs
  rust/agent/src/cmd.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/test.rs
  rust/agent/src/collectors/twamp_reflector.rs
  rust/agent/src/collectors/twamp_sender.rs
  rust/agent/src/lib.rs
  rust/agent/src/main.rs
  rust/agent/src/nvram.rs
  rust/agent/src/proto/connection.rs
  rust/agent/src/proto/frame.rs
  rust/agent/src/proto/mod.rs
  rust/agent/src/proto/pktmodel/base.rs
  rust/agent/src/proto/pktmodel/g711.rs
  rust/agent/src/proto/pktmodel/mod.rs
  rust/agent/src/proto/pktmodel/registry.rs
  rust/agent/src/proto/tos.rs
  rust/agent/src/proto/twamp/accept_session.rs
  rust/agent/src/proto/twamp/mod.rs
  rust/agent/src/proto/twamp/ntp.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
  rust/agent/src/proto/twamp/server_greeting.rs
  rust/agent/src/proto/twamp/server_start.rs
  rust/agent/src/proto/twamp/setup_response.rs
  rust/agent/src/proto/twamp/start_ack.rs
  rust/agent/src/proto/twamp/start_sessions.rs
  rust/agent/src/proto/twamp/stop_sessions.rs
  rust/agent/src/proto/twamp/test_request.rs
  rust/agent/src/proto/twamp/test_response.rs
  rust/agent/src/proto/udp.rs
  rust/agent/src/registry.rs
  rust/agent/src/timing.rs
  rust/agent/src/zk.rs
  rust/dnssync/src/cmd.rs
Due: prettier, build:rust

Set askPermission to ref lookup.
  ui/web/main/ref/kbparser/LookupField.js
  ui/web/main/ref/messageheader/LookupField.js
  ui/web/main/ref/messagetype/LookupField.js
  ui/web/main/ref/model/LookupField.js
  ui/web/main/ref/script/LookupField.js
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/main/ref/sound/LookupField.js
  ui/web/main/ref/stencil/LookupField.js
  ui/web/main/ref/windowfunction/LookupField.js
Due: prettier, build:web

vak-1505 set default value reject=None.
  commands/parse-events.py
Due: flake8, black, mypy, pylint

Add detail column to Report Pending Links.
  services/web/apps/inv/reportpendinglinks/views.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/web/apps/inv/reportpendinglinks/views.py
Due: flake8, black, mypy, pylint

noc-agent: TWAMP: Configurable packet models and padding
  rust/agent/Cargo.toml
  rust/agent/benches/pktmodel_benchmark.rs
  rust/agent/benches/twamp_benchmark.rs
  rust/agent/src/collectors/twamp_reflector.rs
  rust/agent/src/collectors/twamp_sender.rs
  rust/agent/src/proto/pktmodel.rs
  rust/agent/src/proto/pktmodel/base.rs
  rust/agent/src/proto/pktmodel/g711.rs
  rust/agent/src/proto/pktmodel/mod.rs
  rust/agent/src/proto/pktmodel/registry.rs
  rust/agent/src/proto/twamp/accept_session.rs
  rust/agent/src/proto/twamp/ntp.rs
  rust/agent/src/proto/twamp/request_tw_session.rs
  rust/agent/src/proto/twamp/server_greeting.rs
  rust/agent/src/proto/twamp/server_start.rs
  rust/agent/src/proto/twamp/setup_response.rs
  rust/agent/src/proto/twamp/start_ack.rs
  rust/agent/src/proto/twamp/start_sessions.rs
  rust/agent/src/proto/twamp/stop_sessions.rs
  rust/agent/src/proto/twamp/test_request.rs
  rust/agent/src/proto/twamp/test_response.rs
  rust/agent/src/zk.rs
Due: build:rust

agent: TWAMP: Fix IMIX model
  rust/agent/src/collectors/twamp_sender.rs
  rust/agent/src/proto/pktmodel.rs
Due: build:rust

agent: TWAMP: Flood mode
  rust/agent/src/collectors/twamp_sender.rs
  rust/agent/src/proto/pktmodel.rs
Due: build:rust

rust: Pass only binaries built to artifacts
  .gitlab-ci.yml
Due: prettier

DCN.DCWL.get_interfaces. Exclude MAC "00:AA:BB:CC:DD:13" from output.
  sa/profiles/DCN/DCWL/get_interfaces.py
Due: flake8, black, mypy, pylint

Merge branch 'fix-avs-translation' into 'master'
  commands/translation.py
  services/bi/translations/messages.pot
  services/card/translations/messages.pot
  services/card/translations/messages_js.pot
  services/login/translations/messages.pot
  services/login/translations/messages_js.pot
  services/web/translations/messages.pot
  services/web/translations/messages_js.pot
Due: flake8, black, mypy, pylint

vak-1505 fixed arg getting Profile.
  commands/parse-events.py
Due: flake8, black, mypy, pylint

Fix flake.
  sa/profiles/DCN/DCWL/get_interfaces.py
Due: flake8, black, mypy, pylint

agent: TWAMP timeouts
  rust/agent/src/collectors/twamp_reflector.rs
  rust/agent/src/collectors/twamp_sender.rs
Due: build:rust

agent: TWAMP reflector timeouts
  rust/agent/src/collectors/twamp_reflector.rs
  rust/agent/src/proto/udp.rs
Due: build:rust

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
