Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

vak-1526 fixed mistake: .
  services/login/paths/revoke.py
Due: flake8, black, mypy, pylint

Update sa/profiles/SKS/SKS/get_interface_status.py, sa/profiles/SKS/SKS/get_lldp_neighbors.py files
  sa/profiles/SKS/SKS/get_interface_status.py
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint

Update get_interface_status.py
  sa/profiles/SKS/SKS/get_interface_status.py
Due: flake8, black, mypy, pylint

Bump Liftbridge to 1.5.1
  ansible/system_roles/liftbridge/defaults/main.yml
  ansible/system_roles/liftbridge/service.yml
  ansible/system_roles/liftbridge/templates/liftbridge_systemd.service.j2
Due: prettier

Update service.yml
  ansible/system_roles/liftbridge/service.yml
Due: prettier

vak-1500 uses svc.is_revoked, svc.revoke_token.
  commands/migrate-liftbridge.py
  services/login/auth.py
  services/login/paths/revoke.py
  services/login/paths/token.py
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1500 added audience param into func get_exp_from_jwt.
  services/login/auth.py
  services/login/paths/revoke.py
  services/login/paths/token.py
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1500 fixed black's mistake.
  services/login/auth.py
Due: flake8, black, mypy, pylint

Fix subscribe.
  services/login/service.py
Due: flake8, black, mypy, pylint

Convert OID Rules to labels.
  services/login/service.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1500 fixed black's mistake.
  services/login/service.py
Due: flake8, black, mypy, pylint

vak-1499 removed old func: is_revoked and revoke_token.
  services/login/auth.py
  services/login/paths/auth.py
Due: flake8, black, mypy, pylint

vak-1499 fixed svc param.
  services/login/paths/auth.py
Due: flake8, black, mypy, pylint

BaseService.register_metrics `key` parameter
  core/service/base.py
  services/discovery/jobs/periodic/metrics.py
  services/ping/service.py
Due: flake8, black, mypy, pylint

Fix flake.
  core/service/base.py
Due: flake8, black, mypy, pylint

Fix typo.
  sa/migrations/0213_labels.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint

Migrate SA Tags to Labels.
  lib/app/extdocapplication.py
  lib/app/extmodelapplication.py
  main/models/label.py
  sa/migrations/0213_labels.py
  sa/models/administrativedomain.py
  sa/models/authprofile.py
  sa/models/commandsnippet.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/datastream/streams/managedobject.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
  ui/web/sa/service/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix typo on migrations.
  sa/migrations/0213_labels.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint

Fix flake.
  sa/migrations/0213_labels.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint

Fix flake.
  sa/migrations/0213_labels.py
Due: flake8, black, mypy, pylint

Fix typo.
  sa/migrations/0213_labels.py
Due: flake8, black, mypy, pylint

Add update to labels migration
  core/etl/models/managedobject.py
  sa/migrations/0213_labels.py
Due: flake8, black, mypy, pylint

Use f-string
  lib/app/extdocapplication.py
  lib/app/extmodelapplication.py
  sa/migrations/0213_labels.py
Due: flake8, black, mypy, pylint

Fix typo.
  lib/app/extmodelapplication.py
  sa/migrations/0213_labels.py
  services/web/apps/main/label/views.py
  ui/web/js/util.js
  ui/web/sa/administrativedomain/Application.js
  ui/web/sa/administrativedomain/Model.js
  ui/web/sa/authprofile/Application.js
  ui/web/sa/authprofile/Model.js
  ui/web/sa/commandsnippet/Application.js
  ui/web/sa/commandsnippet/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/service/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  sa/migrations/0213_labels.py
  services/web/apps/main/label/views.py
Due: flake8, black, mypy, pylint

add filter type
  ui/web/core/ModelApplication.js
  ui/web/core/modelfilter/Label.js
  ui/web/sa/managedobject/Application.js
Due: prettier, build:web

Fix backend for labels filter.
  lib/app/extmodelapplication.py
  ui/web/core/modelfilter/Label.js
Due: flake8, black, mypy, prettier, pylint, build:web

render function for LabelsField - fixed
  ui/web/js/util.js
  ui/web/sa/managedobject/Application.js
Due: prettier, build:web

Split collectors implementations into separate directories
  rust/agent/Cargo.toml
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/dns/config.rs
  rust/agent/src/collectors/dns/mod.rs
  rust/agent/src/collectors/test/collector.rs
  rust/agent/src/collectors/test/config.rs
  rust/agent/src/collectors/test/mod.rs
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/collectors/twamp_reflector/config.rs
  rust/agent/src/collectors/twamp_reflector/mod.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/collectors/twamp_sender/config.rs
  rust/agent/src/collectors/twamp_sender/mod.rs
Due: build:rust

Streamline import paths
  rust/agent/src/agent.rs
  rust/agent/src/collectors/dns/collector.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/test/collector.rs
  rust/agent/src/collectors/twamp_reflector/collector.rs
  rust/agent/src/collectors/twamp_sender/collector.rs
  rust/agent/src/registry.rs
Due: build:rust

Conver UI files.
  inv/migrations/0021_labels.py
  ui/web/inv/allocationgroup/Application.js
  ui/web/inv/allocationgroup/Model.js
  ui/web/inv/networksegment/Application.js
  ui/web/inv/networksegment/Model.js
  ui/web/inv/objectmodel/Application.js
  ui/web/inv/objectmodel/Model.js
  ui/web/inv/platform/Application.js
  ui/web/inv/platform/Model.js
  ui/web/inv/resourcegroup/Application.js
  ui/web/inv/resourcegroup/Model.js
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add model decorator.
  inv/migrations/0021_labels.py
  inv/models/allocationgroup.py
  inv/models/object.py
  inv/models/objectmodel.py
  inv/models/platform.py
  inv/models/resourcegroup.py
  inv/models/sensorprofile.py
  ui/web/inv/objectmodel/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Use enum instead of serde_json::Value
  rust/agent/src/agent.rs
  rust/agent/src/collectors/base.rs
  rust/agent/src/collectors/dns/config.rs
  rust/agent/src/collectors/mod.rs
  rust/agent/src/collectors/registry.rs
  rust/agent/src/collectors/test/config.rs
  rust/agent/src/collectors/twamp_reflector/config.rs
  rust/agent/src/collectors/twamp_sender/config.rs
  rust/agent/src/lib.rs
  rust/agent/src/registry.rs
  rust/agent/src/zk.rs
Due: build:rust

Fix labels.
  inv/models/objectmodel.py
Due: flake8, black, mypy, pylint

Use TryForm to parse ZkConfig
  rust/agent/src/agent.rs
  rust/agent/src/zk.rs
Due: build:rust

Migrate ManagedObjectSelector filter_tags to filter_labels.
  core/confdb/applicator/meta.py
  main/models/textindex.py
  sa/migrations/0213_labels.py
  sa/migrations/0214_managedobjectselector_filter_labels.py
  sa/models/managedobjectselector.py
  ui/web/sa/managedobjectselector/Application.js
  ui/web/sa/managedobjectselector/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web
