Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Add MatchRules to managedobjectprofile.
  core/model/db/base.py
  main/models/handler.py
  main/models/label.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix Label.
  main/models/label.py
Due: flake8, black, mypy, pylint

Add PydanticField.
  core/model/fields.py
  sa/models/managedobjectprofile.py
Due: flake8, black, mypy, pylint

Add PydanticField.
  inv/models/sensor.py
  main/models/label.py
  main/models/regexplabel.py
  sa/migrations/0216_managedobjectprofile_match_rules.py
  ui/web/main/regexplabel/Application.js
  ui/web/main/regexplabel/Model.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobject/SensorsStore.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix typo.
  core/model/fields.py
Due: flake8, black, mypy, pylint

Revert RegexLabels
  inv/models/sensor.py
  main/models/regexplabel.py
  ui/web/main/regexplabel/Application.js
  ui/web/main/regexplabel/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix RegexLabel
  main/models/regexplabel.py
  ui/web/main/regexplabel/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add RegexLabels to models
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check deleting labels from model s fields
  core/model/decorator.py
  main/models/label.py
Due: flake8, black, mypy, pylint

Simplify RegexLabel on_save.
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

Add UI Setting
  ui/web/main/regexplabel/Application.js
  ui/web/main/regexplabel/Model.js
Due: prettier, build:web

Fix typo
  inv/models/sensor.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint

Fix black
  inv/models/sensor.py
  sa/models/managedobject.py
Due: flake8, black, mypy, pylint

Add Sensor ETL model.
  core/etl/loader/sensor.py
  core/etl/models/sensor.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add ReportDataSource base loader.
  lib/app/reportdatasources/base.py
  lib/app/reportdatasources/loader.py
  lib/app/reportdatasources/reportavailability.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check decorator done.
  core/model/decorator.py
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-display-order created field.
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check removed several models from argument of decorator.
  main/models/label.py
Due: flake8, black, mypy, pylint

Move Classification DynamicField to Match Rules.
  inv/models/sensorprofile.py
  main/models/label.py
  sa/migrations/0216_managedobjectprofile_match_rules.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix rule sorted.
  main/models/label.py
Due: flake8, black, mypy, pylint

Fix order_by.
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-display-order changed default value.
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-display-order added outputting display_order into web.
  lib/app/extdocapplication.py
  lib/app/extmodelapplication.py
Due: flake8, black, mypy, pylint

vak-1555-display-order fixed black mistake.
  lib/app/extmodelapplication.py
Due: flake8, black, mypy, pylint

vak-1555-display-order changed output data of labels.
  lib/app/extdocapplication.py
  lib/app/extmodelapplication.py
Due: flake8, black, mypy, pylint

Fix fields.
  lib/app/reportdatasources/base.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check used ThreadPoolExecutor.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check removed using ThreadPoolExecutor.
  core/model/decorator.py
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check changed using of decorator.
  core/model/decorator.py
  main/models/label.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check fixed documentation.
  core/model/decorator.py
Due: flake8, black, mypy, pylint

Add Measurement Unit to SensorProfile.
  collections/pm.measurementunits/Ampere.json
  collections/pm.measurementunits/Celsius.json
  collections/pm.measurementunits/Kilowatt-hour.json
  collections/pm.measurementunits/Percent.json
  collections/pm.measurementunits/StatusEnum.json
  collections/pm.measurementunits/Volt_AC.json
  collections/pm.measurementunits/Volt_DC.json
  collections/pm.measurementunits/Watt.json
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/measurementunits.py
  sa/profiles/Qtech/QFC/get_inventory.py
  sa/profiles/Rotek/BT/get_inventory.py
  sa/profiles/Ttronics/KUB/get_inventory.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
  ui/web/pm/measurementunits/Application.js
  ui/web/pm/measurementunits/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add messages_sent_error metric to kafkasender.
  services/kafkasender/service.py
Due: flake8, black, mypy, pylint

Fix.
  services/kafkasender/service.py
Due: flake8, black, mypy, pylint

Update services/kafkasender/service.py
  services/kafkasender/service.py
Due: flake8, black, mypy, pylint

Fix on_delete check.
  pm/models/measurementunits.py
Due: flake8, black, mypy, pylint

Add kafkasender's metrics
  docs/en/docs/admin/reference/internal-metrics.md
Due: none

Add sensor graphs to MO Dash.
  services/web/apps/pm/ddash/dashboards/mo.py
  templates/ddash/dash_mo.j2
  templates/ddash/graph_sensor_enum.j2
  templates/ddash/graph_sensor_value.j2
  templates/ddash/panel_sensor_stat.j2
Due: flake8, black, mypy, pylint

Juniper.JUNOS. Add COS metrics.
  cmibs/juniper_cos_mib.py
  collections/inv.capabilities/Juniper/OID/jnxCosIfqStatsTable.json
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Juniper/JUNOS/get_metrics.py
Due: flake8, black, mypy, prettier, pylint

Fix flake.
  cmibs/juniper_cos_mib.py
Due: flake8, black, mypy, pylint
