Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Revert "Update pyproject.toml"
  pyproject.toml
Due: none

Revert "Update .gitlab-ci.yml"
  .gitlab-ci.yml
Due: prettier

Fix py3 artefacts
  ansible/deploy.yml
  ansible/noc_roles/pre/tasks/facts.yml
Due: prettier

Add liftbridge right defaults
  ansible/system_roles/liftbridge/defaults/main.yml
Due: prettier

Merge branch 'Huawei_get_vrrp_interfaces' into 'master'
  sa/profiles/Huawei/VRP/get_interfaces.py
Due: flake8, black, mypy, pylint

Fix pylint.
  sa/profiles/Huawei/VRP/get_interfaces.py
Due: flake8, black, mypy, pylint

Fix liftbridge right order
  ansible/noc_roles/noc/meta/tower.yml
Due: prettier

Fix condition for service generation
  ansible/noc_roles/noc/templates/requirements.list.j2
Due: none

Add ETL Models to tgsoapdv extractor.
  sa/profiles/HP/Comware/get_chassis_id.py
  sa/profiles/HP/Comware/get_config.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/HP/Comware/get_lldp_neighbors.py
  sa/profiles/HP/Comware/get_portchannel.py
  sa/profiles/HP/Comware/get_version.py
  sa/profiles/HP/Comware/get_vlans.py
  sa/profiles/HP/Comware/profile.py
Due: flake8, black, mypy, pylint

HP.Comware. Fix prompt for hpe.
  sa/profiles/HP/Comware/profile.py
Due: flake8, black, mypy, pylint

Fix 'default vlan' output
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/HP/Comware/profile.py
Due: flake8, black, mypy, pylint

Fix switchport vlans detect.
  sa/profiles/HP/Comware/get_interfaces.py
Due: flake8, black, mypy, pylint

Add discovery interval for ddashs
  templates/ddash/graph_cpu_load_1min.j2
  templates/ddash/graph_cpu_load_5min.j2
  templates/ddash/graph_cpu_usage.j2
  templates/ddash/graph_cpu_usage_5sec.j2
  templates/ddash/graph_interface_load.j2
  templates/ddash/graph_interface_load_lag.j2
  templates/ddash/graph_interface_multi.j2
  templates/ddash/graph_interface_pps.j2
  templates/ddash/graph_memory_load_1min.j2
  templates/ddash/graph_memory_usage.j2
  templates/ddash/graph_memory_usage_5sec.j2
  templates/ddash/graph_network_stp_topologychanges.j2
  templates/ddash/graph_network_stp_topologychanges_delta.j2
  templates/ddash/graph_object_sysuptime.j2
  templates/ddash/graph_radio_cinr.j2
  templates/ddash/graph_radio_cinr_rssi.j2
  templates/ddash/graph_radio_rssi.j2
Due: none

Fix name
  templates/ddash/graph_interface_load_lag.j2
Due: none

fix legend
  templates/ddash/graph_interface_load_lag.j2
Due: none

Fix union interface block.
  sa/profiles/HP/Comware/get_interfaces.py
Due: flake8, black, mypy, pylint

fix lines
  templates/ddash/graph_interface_load_lag.j2
Due: none

Fix lint errors
  core/etl/models/managedobject.py
  core/tt/error.py
  gis/overlays/points/__init__.py
  lib/app/access.py
  lib/app/decorators/base.py
  lib/app/reportapplication.py
  lib/app/simplereport.py
  lib/datasource.py
  main/refbooks/downloaders/__init__.py
  peer/datasources.py
  pyproject.toml
  sa/profiles/3Com/4500/get_interfaces.py
  sa/profiles/Cisco/SMB/ping.py
  sa/profiles/DLink/DGS3100/get_capabilities.py
  sa/profiles/DLink/DxS/get_interface_status.py
  sa/profiles/DLink/DxS_Smart/get_interface_status.py
  sa/profiles/EdgeCore/ES/get_inventory.py
  sa/profiles/Extreme/XOS/profile.py
  sa/profiles/Generic/get_capabilities.py
  sa/profiles/HP/1905/add_vlan.py
  sa/profiles/Huawei/VRP/get_interfaces.py
  sa/profiles/MikroTik/RouterOS/get_local_users.py
  sa/profiles/NAG/SNR/add_vlan.py
  sa/profiles/Zyxel/ZyNOS_EE/get_chassis_id.py
  services/discovery/jobs/as/job.py
  services/discovery/jobs/segment/job.py
  services/escalator/tt/stub.py
  services/web/apps/main/calculator/calculators/__init__.py
  services/web/apps/sa/monitor/views.py
  tests/test_ip.py
  tests/test_py_module.py
  tests/test_telnet.py
  vc/datasources.py
Due: flake8, black, mypy, pylint

Make false shell login
  ansible/system_roles/liftbridge/tasks/main.yml
  ansible/system_roles/nats/tasks/main.yml
Due: prettier

Fix rhel become
  ansible/noc_roles/pre/tasks/os/RedHat/main.yml
Due: prettier

Fix flake.
  sa/profiles/HP/1905/add_vlan.py
  sa/profiles/NAG/SNR/add_vlan.py
Due: flake8, black, mypy, pylint

Add ScriptStub to telnet_test.
  tests/test_telnet.py
Due: flake8, black, mypy, pylint

Fix test_telnet.
  tests/test_telnet.py
Due: flake8, black, mypy, pylint

Fix HP.Comware.get_lldp_neighbors for HPE.
  sa/profiles/HP/Comware/get_fqdn.py
  sa/profiles/HP/Comware/get_lldp_neighbors.py
  sa/profiles/HP/Comware/get_version.py
  sa/profiles/HP/Comware/get_vlans.py
Due: flake8, black, mypy, pylint

Fix complex fields.
  sa/profiles/HP/Comware/get_lldp_neighbors.py
Due: flake8, black, mypy, pylint

Fix forms
  core/forms.py
Due: flake8, black, mypy, pylint

Django 3.1.3
  requirements.txt
Due: gemnasium-python-dependency_scanning

Fix mock model
  core/migration/base.py
  core/migration/db.py
Due: flake8, black, mypy, pylint

Update Maintenance func.
  maintenance/models/maintenance.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/inv/map/Maintenance.js
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/Model.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: flake8, black, mypy, prettier, pylint, build:web

remove console string
  ui/web/inv/map/Maintenance.js
Due: prettier, build:web

update
  services/web/apps/maintenance/maintenance/views.py
Due: flake8, black, mypy, pylint

fix py:test
  main/models/template.py
Due: flake8, black, mypy, pylint

Fix trace get_confdb_query on empty ManagedObjectSelector.
  sa/models/managedobjectselector.py
Due: flake8, black, mypy, pylint

Add CI workflow
  .gitlab-ci.yml
Due: prettier

Add web produced pipelines
  .gitlab-ci.yml
Due: prettier

Add web produced pipelines and schedules
  .gitlab-ci.yml
Due: prettier

Check untagged None value.
  inv/models/interfaceclassificationrule.py
Due: flake8, black, mypy, pylint

Make pytest runs only on collection/*.json, requirements.txt and *.py changes
  .gitlab-ci.yml
Due: prettier

Also check all of *.json
  .gitlab-ci.yml
Due: prettier

Fix typo
  ansible/system_roles/nats/tasks/checks.yml
Due: prettier
