Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt

Add get_by_id to service.
  sa/models/service.py
  services/ui/utils/rest/op.py
Due: flake8, black, mypy, pylint

Add item_to_form to Object path.
  services/ui/paths/object.py
Due: flake8, black, mypy, pylint

Fix flake.
  services/ui/models/object.py
Due: flake8, black, mypy, pylint

UPD: Agent collectors documentation
  docs/en/docs/admin/reference/agent/collectors/block_io.md
  docs/en/docs/admin/reference/agent/collectors/cpu.md
  docs/en/docs/admin/reference/agent/collectors/dns.md
  docs/en/docs/admin/reference/agent/collectors/fs.md
  docs/en/docs/admin/reference/agent/collectors/memory.md
  docs/en/docs/admin/reference/agent/collectors/network.md
  docs/en/docs/admin/reference/agent/collectors/test.md
  docs/en/docs/admin/reference/agent/collectors/twamp_reflector.md
  docs/en/docs/admin/reference/agent/collectors/twamp_sender.md
  docs/en/docs/admin/reference/agent/collectors/uptime.md
Due: none

Fix flake.
  services/ui/models/label.py
  services/ui/paths/label.py
  services/ui/paths/object.py
Due: flake8, black, mypy, pylint

Add Preview Service view.
  services/ui/models/service.py
  services/ui/paths/label.py
  services/ui/paths/service.py
Due: flake8, black, mypy, pylint

vak-1573 created subscribe_lift and used create_task.
  services/login/service.py
Due: flake8, black, mypy, pylint

Collectors and features documentation
  docs/en/docs/admin/reference/agent/collectors/block_io.md
  docs/en/docs/admin/reference/agent/collectors/cpu.md
  docs/en/docs/admin/reference/agent/collectors/dns.md
  docs/en/docs/admin/reference/agent/collectors/fs.md
  docs/en/docs/admin/reference/agent/collectors/memory.md
  docs/en/docs/admin/reference/agent/collectors/network.md
  docs/en/docs/admin/reference/agent/collectors/test.md
  docs/en/docs/admin/reference/agent/collectors/twamp_reflector.md
  docs/en/docs/admin/reference/agent/collectors/twamp_sender.md
  docs/en/docs/admin/reference/agent/collectors/uptime.md
  docs/en/docs/admin/reference/agent/compilation-features.md
  docs/en/mkdocs.yml
Due: prettier

vak-1573 deleted await from create_task.
  services/login/service.py
Due: flake8, black, mypy, pylint

Fix
  docs/en/docs/admin/reference/agent/compilation-features.md
Due: none

Add refresh_labels method.
  main/models/label.py
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

Fix typo.
  main/models/label.py
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

Fix typo.
  main/models/regexplabel.py
  ui/web/main/regexplabel/Application.js
Due: flake8, black, mypy, prettier, pylint, build:web

Add FuncsFilter.
  services/ui/paths/administrativedomain.py
  services/ui/paths/label.py
  services/ui/paths/object.py
  services/ui/utils/rest/op.py
Due: flake8, black, mypy, pylint

Fix docstring.
  main/models/regexplabel.py
Due: flake8, black, mypy, pylint

Add summary endpoint to UI API.
  services/ui/models/utils.py
  services/ui/utils/rest/base.py
  services/ui/utils/rest/document.py
  services/ui/utils/rest/model.py
Due: flake8, black, mypy, pylint

Fix typo.
  services/ui/utils/rest/base.py
Due: flake8, black, mypy, pylint

Fix model summary.
  services/ui/utils/rest/document.py
  services/ui/utils/rest/model.py
Due: flake8, black, mypy, pylint

ui: RestAPI router chaining
  services/ui/paths/administrativedomain.py
  services/ui/paths/label.py
  services/ui/paths/object.py
  services/ui/paths/remotesystem.py
  services/ui/paths/resourcegroup.py
  services/ui/paths/service.py
  services/ui/utils/rest/base.py
Due: flake8, black, mypy, pylint

Fix UI model
  services/ui/models/administrativedomain.py
  services/ui/models/remotesystem.py
  services/ui/paths/administrativedomain.py
  services/ui/paths/label.py
  services/ui/paths/object.py
  services/ui/paths/remotesystem.py
  services/ui/paths/service.py
Due: flake8, black, mypy, pylint

Liftbridge client: subscribe doesn't block all thread if liftbridge is not available
  core/config/params.py
  core/dcs/util.py
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Fix
  core/liftbridge/base.py
Due: flake8, black, mypy, pylint

Qtech.QFC. Add model.
  collections/inv.capabilities/DB/Sensors.json
  collections/inv.capabilities/Sensor/ elMeter.json
  collections/inv.capabilities/Sensor/UPS.json
  collections/inv.connectiontypes/Power/MSTB_2_5_16-ST-5_08.json
  collections/inv.connectiontypes/Power/MSTB_2_5_8-ST-5_08.json
  collections/inv.objectmodels/Qtech/QFC/QFC-PBIC-LIGHT_V_2.json
  collections/inv.objectmodels/Qtech/QFC/QFC-PBIC-LITE_V_3.json
  collections/pm.measurementunits/Kilowatt-hour.json
  sa/profiles/Qtech/QFC/get_capabilities.py
  sa/profiles/Qtech/QFC/get_inventory.py
  sa/profiles/Qtech/QFC/get_metrics.py
  sa/profiles/Qtech/QFC/profile.py
Due: flake8, black, mypy, prettier, pylint

Fix object connection type dot.
  collections/inv.connectiontypes/Electrical/MSTB_2_5_5-ST-5_08.json
  collections/inv.objectmodels/Zhone/DSLAM/4219-A1-520.json
  collections/inv.objectmodels/Zhone/DSLAM/4229-A2-520.json
  collections/inv.objectmodels/Zhone/DSLAM/4229-A2-531.json
Due: prettier

Rotek.BT. Add get_inventory.
  collections/inv.objectmodels/Rotek/4250L.json
  collections/inv.objectmodels/Rotek/BT6037.json
  sa/profiles/Generic/get_metrics.py
  sa/profiles/Rotek/BT/get_chassis_id.py
  sa/profiles/Rotek/BT/get_interfaces.py
  sa/profiles/Rotek/BT/get_inventory.py
  sa/profiles/Rotek/BT/get_version.py
  sa/profiles/Rotek/BT/profile.py
  services/discovery/jobs/periodic/metrics.py
Due: flake8, black, mypy, prettier, pylint

Fix column order.
  ui/web/sa/managedobject/SensorsPanel.js
Due: prettier, build:web

Fix typo.
  sa/profiles/Rotek/BT/get_inventory.py
Due: flake8, black, mypy, pylint

ElectronR.KO01M. Add get_inventory script.
  collections/inv.objectmodels/Electron/КО-01М.json
  sa/profiles/ElectronR/KO01M/get_interfaces.py
  sa/profiles/ElectronR/KO01M/get_inventory.py
  sa/profiles/Ttronics/KUB/get_inventory.py
  sa/profiles/Ttronics/KUB/profile.py
Due: flake8, black, mypy, prettier, pylint

mx: metrics stream
  config.py
  core/service/base.py
  docs/en/docs/admin/reference/config/message.md
  docs/en/docs/user/reference/mx/metrics.md
  docs/en/mkdocs.yml
  docs/ru/docs/admin/reference/config/message.md
  docs/ru/docs/user/reference/mx/metrics.md
  docs/ru/mkdocs.yml
Due: flake8, black, mypy, prettier, pylint

Fix typo.
  config.py
  core/service/base.py
Due: flake8, black, mypy, pylint

Fix typo.
  collections/inv.objectmodels/Electron/KO-01M.json
Due: prettier

Add Vendor code.
  collections/inv.vendors/ELECTRONR.json
Due: prettier

Add MetricStream config.
  core/service/base.py
  main/models/metricstream.py
  models.py
  services/web/apps/main/metricstream/__init__.py
  services/web/apps/main/metricstream/views.py
  ui/web/main/metricstream/Application.js
  ui/web/main/metricstream/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  core/service/base.py
Due: flake8, black, mypy, pylint

Remove unused code.
  core/service/base.py
Due: flake8, black, mypy, pylint

Fix on_delete_check.
  pm/models/metricscope.py
Due: flake8, black, mypy, pylint

vak-1555-on-delete-check made draft of decorator.
  core/model/decorator.py
  main/models/label.py
Due: flake8, black, mypy, pylint

Add migrations.
  main/models/label.py
  sa/migrations/0216_managedobjectprofile_match_rules.py
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web
