Repository prorevizor/noc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, prettier, pylint, build:web, build:rust, gemnasium-python-dependency_scanning

flake8:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

black:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

mypy:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep ".py$" | grep -v ".docker/"|| true)
  ...

prettier:
  stage: Lint
  image: registry.getnoc.com/infrastructure/prettier:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA  | egrep "\.(js|json|yml|css)$" | grep -v ".docker/"|| true)
  ...

pylint:
  stage: Lint
  image: registry.getnoc.com/infrastructure/noc-py-lint:master
  script:
  - set -x
  - FLIST=$(git --no-pager diff --diff-filter=d --name-only $(git merge-base --fork-point origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME) $CI_COMMIT_SHA | egrep ".py$" | grep -v ".docker/"|| true)
  ...

build:web:
  stage: Build
  image: node:12
  script:
  - cd scripts/build/web
  - npm install
  - node src/index.js
  tags:
  - docker
  artifacts:
    paths:
    - dist/ui/pkg/web
    - dist/ui/pkg/web.debug

build:rust:
  stage: Build
  image: rust:1.41
  script:
  - set -x
  - cd rust/
  - export CARGO_TARGET_DIR=../build/rust
  - cargo build --release
  tags:
  - docker
  artifacts:
    paths:
    - build/rust/release/
    expire_in: 7 days

gemnasium-python-dependency_scanning:
  stage: Test
  allow_failure: true
  variables:
    SECURE_ANALYZERS_PREFIX: registry.gitlab.com/gitlab-org/security-products/analyzers
    DS_MAJOR_VERSION: 2
  image:
    name: $SECURE_ANALYZERS_PREFIX/gemnasium-python:$DS_MAJOR_VERSION
  before_script:
  - apt install -y libpq-dev
  script:
  - /analyzer run
  tags:
  ...

Metrics skeleton
  docs/en/docs/dev/metrics/scopes/index.md
  docs/en/docs/dev/metrics/types/index.md
  docs/en/mkdocs.yml
Due: prettier

Fix reference.
  docs/en/docs/dev/api/datastream/cfgping.md
  docs/en/docs/dev/api/datastream/cfgsyslog.md
  docs/en/docs/dev/api/datastream/cfgtrap.md
  docs/en/docs/dev/api/datastream/dnszone.md
  docs/en/docs/dev/api/datastream/managedobject.md
  docs/en/docs/dev/api/datastream/resourcegroup.md
  docs/en/docs/dev/api/nbi/objectmetrics.md
  docs/en/docs/dev/api/nbi/path.md
  docs/en/docs/dev/api/nbi/telemetry.md
  docs/en/docs/reference/profiles/Cisco/Cisco.IOS.md
Due: none

Fix SA Profile reference.
  docs/en/docs/admin/config/index.md
  docs/en/docs/dev/api/datastream/managedobject.md
  docs/en/docs/reference/concepts/sa-profile/index.md
Due: none

Fix ConfDB. Reference.
  docs/en/docs/dev/confdb/normalizer.md
  docs/en/docs/dev/confdb/query.md
  docs/en/docs/dev/confdb/storage.md
  docs/en/docs/dev/confdb/tokenizer.md
  docs/en/docs/dev/mr-labels.md
Due: none

refactoring ObjectsPanel
  ui/web/maintenance/maintenance/ObjectsPanel.js
Due: prettier, build:web

Fix consul check
  ansible/system_roles/consul/tasks/checks.yml
Due: prettier

Merge branch 'noc-fastapi-0.62' into 'master'
  requirements.txt
Due: gemnasium-python-dependency_scanning

Fix compare filter to test
  ansible/system_roles/consul/tasks/checks.yml
Due: prettier

Merge branch 'ansible-fix-consul-check' into 'master'
  ansible/system_roles/consul/tasks/checks.yml
Due: prettier

Update requirements.txt
  requirements.txt
Due: gemnasium-python-dependency_scanning

Fix trace when service without subscriber.
  core/etl/models/service.py
  sa/models/servicesummary.py
  services/card/templates/service.html.j2
Due: flake8, black, mypy, pylint

Fix black.
  sa/models/servicesummary.py
Due: flake8, black, mypy, pylint

Bump grafana to 7.3.4
  ansible/system_roles/grafana/tasks/plugins.yml
  ansible/system_roles/grafana/templates/grafana.ini
  ansible/vars/main.yml
Due: prettier

Add natel plugin
  ansible/system_roles/grafana/tasks/plugins.yml
Due: prettier

Add natel plugin
  ansible/system_roles/grafana/tasks/plugins.yml
  ansible/vars/main.yml
Due: prettier

Measurement Units
  collections/pm.measurementunits/Ampere.json
  collections/pm.measurementunits/Celsius.json
  collections/pm.measurementunits/Hertz.json
  collections/pm.measurementunits/Meter.json
  collections/pm.measurementunits/RPM.json
  collections/pm.measurementunits/Second.json
  collections/pm.measurementunits/Volt_AC.json
  collections/pm.measurementunits/Volt_DC.json
  collections/pm.measurementunits/Watt.json
  docs/en/docs/reference/measurementunits/ampere.md
  docs/en/docs/reference/measurementunits/celsius.md
  docs/en/docs/reference/measurementunits/hertz.md
  docs/en/docs/reference/measurementunits/index.md
  docs/en/docs/reference/measurementunits/meter.md
  docs/en/docs/reference/measurementunits/rpm.md
  docs/en/docs/reference/measurementunits/second.md
  docs/en/docs/reference/measurementunits/volt-ac.md
  docs/en/docs/reference/measurementunits/volt-dc.md
  docs/en/docs/reference/measurementunits/watt.md
  docs/en/mkdocs.yml
  docs/tools/collection-to-md.py
  models.py
  pm/models/measurementunits.py
  services/web/apps/pm/measurementunits/__init__.py
  services/web/apps/pm/measurementunits/views.py
  ui/web/pm/measurementunits/Application.js
  ui/web/pm/measurementunits/LookupField.js
  ui/web/pm/measurementunits/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix
  pm/models/measurementunits.py
Due: flake8, black, mypy, pylint

ADd install ch with version in other OSes too
  ansible/system_roles/clickhouse/tasks/os/Debian/main.yml
  ansible/system_roles/clickhouse/tasks/os/FreeBSD/main.yml
  ansible/system_roles/clickhouse/tasks/os/OracleLinux/main.yml
  ansible/system_roles/clickhouse/tasks/os/RedHat/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu/main.yml
Due: prettier

Fix
  docs/tools/collection-to-md.py
Due: flake8, black, mypy, pylint

Fix apt string
  ansible/system_roles/clickhouse/tasks/os/Debian/main.yml
  ansible/system_roles/clickhouse/tasks/os/Ubuntu/main.yml
Due: prettier

Fix goss check
  ansible/system_roles/clickhouse/templates/clickhouse.goss.yml.j2
Due: none

Remove modelinterface remote.
  collections/inv.modelinterfaces/remote.json
  core/etl/loader/base.py
Due: flake8, black, mypy, prettier, pylint

Fix find Object.
  collections/inv.modelinterfaces/remote.json
  core/etl/loader/base.py
  core/etl/loader/object.py
  core/etl/models/object.py
Due: flake8, black, mypy, prettier, pylint

Add RemoteSystem fields to object.
  core/etl/loader/base.py
  core/etl/loader/object.py
  core/etl/models/object.py
  inv/models/object.py
Due: flake8, black, mypy, pylint

Add Object to ETL Model.
  core/etl/loader/object.py
  core/etl/models/object.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Due: flake8, black, mypy, prettier, pylint, build:web

Fix flake.
  core/etl/models/object.py
Due: flake8, black, mypy, pylint

Add remote ModelInterface.
  collections/inv.modelinterfaces/remote.json
  core/etl/loader/base.py
  core/etl/loader/object.py
Due: flake8, black, mypy, prettier, pylint

Add merge_data to object loader.
  core/etl/loader/object.py
Due: flake8, black, mypy, pylint

Add inv.Object to RemoteSystem on_delete.
  main/models/remotesystem.py
Due: flake8, black, mypy, pylint

Cleanup code.
  core/etl/loader/object.py
Due: flake8, black, mypy, pylint

Fix noc-1459
  services/web/apps/inv/reportobjectsserial/views.py
Due: flake8, black, mypy, pylint

Fix bi dashboard empty owner.
  bi/models/dashboard.py
Due: flake8, black, mypy, pylint

docs: style guide
  docs/en/docs/structure.md
  docs/en/docs/style-guide.md
Due: none

Fix typo.
  docs/en/docs/style-guide.md
Due: none

Add SensorProfile to style on_delete.
  main/models/style.py
Due: flake8, black, mypy, pylint

Fix on_delete.
  inv/models/sensor.py
  pm/models/measurementunits.py
  ui/web/inv/objectmodel/Application.js
  wf/models/state.py
  wf/models/workflow.py
Due: flake8, black, mypy, prettier, pylint, build:web

Sensors
  docs/en/docs/reference/concepts/sensor-profile/index.md
  docs/en/docs/reference/concepts/sensor/index.md
  docs/en/docs/reference/measurement-units/ampere.md
  docs/en/docs/reference/measurement-units/celsius.md
  docs/en/docs/reference/measurement-units/hertz.md
  docs/en/docs/reference/measurement-units/index.md
  docs/en/docs/reference/measurement-units/meter.md
  docs/en/docs/reference/measurement-units/rpm.md
  docs/en/docs/reference/measurement-units/second.md
  docs/en/docs/reference/measurement-units/volt-ac.md
  docs/en/docs/reference/measurement-units/volt-dc.md
  docs/en/docs/reference/measurement-units/watt.md
  docs/tools/collection-to-md.py
  inv/models/object.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  models.py
  sa/models/managedobject.py
  services/web/apps/inv/sensorprofile/__init__.py
  services/web/apps/inv/sensorprofile/views.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/LookupField.js
  ui/web/inv/sensorprofile/Model.js
  wf/migrations/0002_sensor_default.py
Due: flake8, black, mypy, prettier, pylint, build:web

Path conditions:
  flake8: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  mypy: any of: *.py, **/*.py
  prettier: any of: *.js, *.json, *.css, *.yml, **/*.js, **/*.json, **/*.css, **/*.yml
  pylint: any of: *.py, **/*.py
  build:web: any of: ui/web/**/*.js, ui/web/**/*.css, scripts/build/web/**/*
  build:rust: any of: rust/**, rust/**/*
  gemnasium-python-dependency_scanning: any of: requirements.txt
